<template>
  <v-dialog persistent v-model="visible">
    <v-card>
      <v-app-bar color="primary">
        <div style="color: white;">
          Integrace
        </div>
        <v-spacer></v-spacer>
        <v-btn color="white" @click="closeDialog" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text>
        <br />
        <div style="display: flex; align-items: center;">
          <v-select
            disabled
            readonly
            :items="selectItems"
            v-model="integrationType"
          ></v-select>
          <v-btn
            title="Kopírovat do schránky"
            style="margin-left: .5rem;"
            icon
            @click="copyToClipboard"
          >
            <v-icon v-if="!copied">mdi-clipboard-multiple-outline</v-icon>
            <v-icon v-if="copied">mdi-clipboard-check-multiple</v-icon>
          </v-btn>
        </div>
        <v-select
          v-model="selectedApiKey"
          :items="apiKeys"
          item-value="code"
          item-text="name"
          label="Api klíč"
        ></v-select>
        <highlight-code lang="xml">
          {{ integrationCode }}
        </highlight-code>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="closeDialog">Zavřít</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { getGalleryWidgetIntegrationCode } from "@/util/gallery";
import { copyTextToClipboard } from "@/util/common";
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    selectItems() {
      return [
        {
          text: "Drupal",
          value: 0
        }
      ];
    },
    integrationCode() {
      return getGalleryWidgetIntegrationCode(this.selectedApiKey, this.gallery.code);
    },
    ...mapGetters({ apiKeys: "apiKeys/apiKeysList" })
  },
  data() {
    return {
      visible: false,
      integrationType: 0,
      copied: false,
      selectedApiKey: null,
      gallery: {}
    };
  },
  methods: {
    ...mapActions({ loadApiKeys: "apiKeys/load" }),
    show(gallery) {
      this.gallery = gallery;
      this.copied = false;
      this.visible = true;
      this.selectedApiKey = this.apiKeys[0].code;
      return new Promise(resolve => {
        this.$once("close", () => {
          this.visible = false;
          return resolve();
        });
      });
    },
    copyToClipboard() {
      copyTextToClipboard(getGalleryWidgetIntegrationCode());
      this.copied = true;
    },
    closeDialog() {
      this.$emit("close", null);
    }
  },
  async mounted() {
    await this.loadApiKeys();
    this.selectedApiKey = this.apiKeys[0].code;
  }
};
</script>
