<template>
  <v-dialog persistent v-model="visible">
    <v-card>
      <v-app-bar color="primary">
        <div style="color: white;">
          Výběr obrázku
        </div>
        <v-spacer></v-spacer>
        <v-btn color="white" @click="closeDialog" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-app-bar>
      <v-card-text v-if="!images || !images.length">
        Rostlina neobsahuje žádné obrázky
      </v-card-text>
      <v-card-text v-if="images && images.length">
        <br />
        <v-select :items="selectItems" v-model="imageType"></v-select>
        <template v-if="imageType === 0">
          <v-card style="max-width: 50%;">
            <v-img :src="latestImage.url"></v-img>
            <v-card-text>
              <span v-if="latestImage.created_at"
                >Vytvořen {{ latestImage.created_at }}</span
              >
            </v-card-text>
          </v-card>
        </template>
        <template v-if="imageType === 1">
          <v-radio-group v-model="selectedImageId">
            <v-row>
              <v-col :key="`plant${image.id}`" v-for="image in images" cols="3">
                <v-card>
                  <v-img
                    style="height: 200px;"
                    :src="gatImageUrl(image.id)"
                  ></v-img>
                  <v-card-text>
                    <span v-if="image.created_at"
                      >Vytvořen {{ image.created_at }}</span
                    >
                    <v-radio :value="image.id" label="Vybrat"></v-radio>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-radio-group>
        </template>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :disabled="!valid" color="primary" @click="confirm">{{
          "Uložit"
        }}</v-btn>
        <v-btn text @click="closeDialog">Zrušit</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { getImagePreviewUrl } from "@/util/image";
import { mapGetters } from "vuex";
import {sortObjectsArrayByKey} from "@/util/sort";

export default {
  computed: {
    ...mapGetters({
      webp: "app/webp"
    }),
    selectItems() {
      return [
        {
          text: "Vždy nejnovější",
          value: 0
        },
        {
          text: "Manuální výběr",
          value: 1
        }
      ];
    },
    valid() {
      if (!this.images || !this.images.length) {
        return false;
      }
      if (this.imageType === 1 && !this.selectedImageId) {
        return false;
      }
      return true;
    },
    latestImage() {
      let sortedImages = sortObjectsArrayByKey(this.images, "id", true);
      //         this.images.slice();
      // sortedImages.sort((a, b) => {
      //   if (a.id > b.id) {
      //     return -1;
      //   } else if (a.id < b.id) {
      //     return 1;
      //   } else {
      //     return 0;
      //   }
      // });
      sortedImages[0].url = getImagePreviewUrl(
        sortedImages[0].id,
        640,
        this.webp
      );
      return sortedImages[0];
    }
  },
  data() {
    return {
      images: null,
      visible: false,
      imageType: 0,
      allowTypeChange: false,
      selectedImageId: null
    };
  },
  methods: {
    show(plant, config) {
      if (plant.Images && plant.Images.length) {
        this.allowTypeChange = true;
      }
      if (config && config.previewImages && config.previewImages.length) {
        this.imageType = 1;
        this.selectedImageId = config.previewImages[0];
      }
      this.images = plant.Images;
      this.visible = true;
      return new Promise(resolve => {
        this.$once("close", model => {
          this.visible = false;
          return resolve(model);
        });
      });
    },
    closeDialog() {
      this.$emit("close", null);
    },
    gatImageUrl(id) {
      return getImagePreviewUrl(id, 640, this.webp);
    },
    confirm() {
      if (this.imageType === 0) {
        this.$emit("close", { type: 0 });
      } else {
        this.$emit("close", { type: 1, activeImageId: this.selectedImageId });
      }
    }
  }
};
</script>
