<template>
  <v-card>
    <div style="position: relative;">
      <slot
        name="image"
        v-bind="{ activeImageIdx, activeImageId, activeImageUrl, imageType }"
      ></slot>
    </div>
    <v-card-text>
      <div style="display: flex; align-items: center;">
        <v-label
          ><Clamp autoresize :max-lines="1" :title="plant.name_lat">{{
            plant.name_lat
          }}</Clamp></v-label
        >
        <div style="flex-grow: 1;"></div>
        <router-link :to="`/plants/${plant.id}`">
          <v-btn
            class="edit-plant-button"
            icon
            x-small
            title="Přejít na editaci rostliny"
          >
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </router-link>
      </div>
      <div v-if="plant.Images && plant.Images.length">
        ({{ $tc("Contains n images", plant.Images.length) }})
      </div>
      <div v-if="!plant.Images || !plant.Images.length">
        (Neobsahuje žádnej obrázek)
      </div>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <div style="display: flex; align-items: center;">
        <v-btn
          :disabled="!plant.Images || !plant.Images.length"
          icon
          title="Editace obrázku rostliny"
          @click="$emit('editRequested', plant)"
        >
          <v-icon>mdi-image-edit</v-icon>
        </v-btn>
        <v-switch
          v-model="sticky"
          @change="newVal => updateStickyAttr(newVal)"
          style="margin:0 0 0 .5rem;"
          label="Vždy nahoře"
          hide-details
        ></v-switch>
      </div>
    </v-card-actions>
  </v-card>
</template>
<script>
import { getImagePreviewUrl } from "@/util/image";
import { mapGetters } from "vuex";
import { sortObjectsArrayByKey } from "@/util/sort";
import Clamp from "vue-clamp";
import localEventBus from "./event-bus";

export default {
  components: {
    Clamp
  },
  props: {
    plant: {
      type: Object
    },
    configuration: {
      type: Object
    }
  },
  data() {
    return {
      sticky: false,
      imageType: 0,
      activeImageUrl: "",
      activeImageIdx: 0
    };
  },
  computed: {
    ...mapGetters({
      webp: "app/webp"
    }),
    activeImageId() {
      if (this.activeImageIdx === null) {
        return null;
      }
      return this.plant.Images[this.activeImageIdx].id;
    }
  },
  methods: {
    updateActiveImageIdx() {
      if (!this.plant.Images || !this.plant.Images.length) {
        this.activeImageIdx = null;
        return;
      }
      if (
        this.configuration[this.plant.id] &&
        this.configuration[this.plant.id].previewImages &&
        this.configuration[this.plant.id].previewImages.length
      ) {
        let activeImageId = this.configuration[this.plant.id].previewImages[0];
        for (let i = 0; i < this.plant.Images.length; i++) {
          if (this.plant.Images[i].id === activeImageId) {
            this.activeImageIdx = i;
            return;
          }
        }
      }
      let sortedImages = sortObjectsArrayByKey(this.plant.Images, "id", true);
      for (let i = 0; i < this.plant.Images.length; i++) {
        if (sortedImages[0].id === this.plant.Images[i].id) {
          this.activeImageIdx = i;
          return;
        }
      }
      this.activeImageIdx = 0;
    },
    updateActiveImageUrl() {
      if (this.activeImageIdx === null) {
        this.activeImageUrl = "/img/image-broken.svg";
      }
      this.activeImageUrl = getImagePreviewUrl(
        this.plant.Images[this.activeImageIdx].id,
        640,
        this.webp
      );
    },
    updateImageType() {
      if (
        this.configuration[this.plant.id] &&
        this.configuration[this.plant.id].previewImages &&
        this.configuration[this.plant.id].previewImages.length
      ) {
        this.imageType = 1;
        return;
      }
      this.imageType = 0;
    },
    updateSticky() {
      let value = false;
      if (
        this.configuration &&
        this.configuration[this.plant.id] &&
        this.configuration[this.plant.id].sticky
      ) {
        value = true;
      }
      this.sticky = value;
    },
    updateStickyAttr(newVal) {
      let newConf = JSON.parse(JSON.stringify(this.configuration));
      if (!newConf[this.plant.id]) {
        newConf[this.plant.id] = {};
      }
      newConf[this.plant.id].sticky = newVal;
      this.$emit("update:configuration", newConf);
    },
    updateAll() {
      this.updateActiveImageIdx();
      this.updateSticky();
      this.updateImageType();
      this.updateActiveImageUrl();
    },
    onConfigChanged() {
      console.log("evt cfg changed!");
      this.updateAll();
    }
  },
  watch: {
    configuration(newVal) {
      console.log("upd!!!!");
      this.updateAll();
    }
  },
  mounted() {
    this.updateAll();
    localEventBus.$on(`confchange_${this.plant.id}`, this.onConfigChanged);
  },
  beforeDestroy() {
    localEventBus.$off(`confchange_${this.plant.id}`, this.onConfigChanged);
  }
};
</script>
