<template>
  <v-autocomplete
    filled
    :value="authors"
    @input="value => $emit('update:authors', value)"
    :items="authorsList"
    :label="$t('Vybrete autora (autory)')"
    item-text="name"
    item-value="id"
    multiple
  >
    <template v-slot:selection="{ item, index }">
      <v-chip small
              color="primary"
        :key="`author_chip_${index}`"
        close
        @click:close="() => removeAuthor(index)"
      >
        <span>{{ item.name }}</span>
      </v-chip>
    </template>
  </v-autocomplete>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({ authorsList: "authors/authorsList" }),
  },
  props: {
    authors: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    ...mapActions({ loadAuthors: "authors/loadAuthors" }),
    removeAuthor(idx) {
      let updatedAuthors = this.authors.slice();
      updatedAuthors.splice(idx, 1);
      this.$emit("update:authors", updatedAuthors);
    }
  },
  mounted() {
    this.loadAuthors();
  }
};
</script>
