<template>
  <v-tabs v-model="activeTabIndex">
    <v-tab :key="`lang_tab_${idx}`" v-for="(translation, idx) in translations"
      >{{ getLanguageById(translation.language_id).name }}
    </v-tab>
    <v-tab-item
      :key="`lang_tab_${idx}`"
      v-for="(translation, idx) in translations"
    >
      <slot name="tabItem" v-bind:translation="translation"></slot>
    </v-tab-item>
    <v-spacer></v-spacer>
    <v-menu bottom left v-if="translations.length < 2">
      <template v-slot:activator="{ on }">
        <v-btn
          class="align-self-center"
          icon
          :title="$t('Přidej překlad...')"
          v-on="on"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          :key="`add_trans_menu_item_${idx}`"
          v-for="(langId, idx) of missingTranslations"
          @click="() => addTranslation(langId)"
        >
          {{ getLanguageById(langId).name }}
        </v-list-item>
      </v-list>
    </v-menu>
  </v-tabs>
</template>
<script>
import { getAllLanguagesIds, getLanguageById } from "../../../util/language";
import { mapGetters } from "vuex";
export default {
  data() {
    return { activeTabIndex: 0 };
  },
  props: {
    translations: {
      type: Array,
      default: () => []
    },
    activeTab: {
      type: Number,
      default: 0
    }
  },
  computed: {
    ...mapGetters({ languages: "languages/languages" }),
    missingTranslations() {
      if (!this.languages || !this.translations) {
        return [];
      }
      let list = [];
      let allIds = getAllLanguagesIds();
      for (let langId of allIds) {
        try {
          this.getTranslationByLanguageId(langId);
        } catch (e) {
          list.push(langId);
        }
      }
      return list;
    }
  },
  methods: {
    getLanguageById,
    getTranslationByLanguageId(langId) {
      for (let lang of this.translations) {
        if (lang.language_id === langId) {
          return lang;
        }
      }
      throw new Error(`Translation for language id ${langId} does not exist!`);
    },
    addTranslation(langId) {
      this.translations.push({
        language_id: langId
      });
    }
  },
  mounted() {
    this.activeTabIndex = this.activeTab;
  }
};
</script>
