<template>
  <div>
    <div v-if="!tags">
      <v-progress-circular indeterminate></v-progress-circular>
    </div>
    <v-menu v-if="tags" open-on-hover bottom offset-y>
      <template v-slot:activator="{ on }">
        <div
          v-on="on"
          :title="
            `${item.Tags.length} ${getCorrectForm(
              item.Tags.length
            )}. Klikni pro seznam`
          "
          style="cursor:pointer; display: flex; align-items: center; white-space: nowrap;"
        >
          <div v-if="item.Tags.length > 0">
            <v-chip small>{{ getTagName(item.Tags[0]) }}</v-chip>
          </div>
          <div v-if="item.Tags.length > 1">
            {{ getTagsCount(item.tags) }}
          </div>
          <div v-if="item.Tags.length === 0">{{ $t("Žádné") }}</div>
        </div>
      </template>
      <v-card>
        <v-card-text>
          <div v-if="!item.Tags || !item.Tags.length">
            {{ $t("Žádné") }}
          </div>
          <div
            v-if="item.Tags && item.Tags.length"
            style="max-width: 300px; max-height: 300px; overflow-y: auto;"
          >
            <v-chip
              small
              style="margin: .5rem 0 0 .5rem;"
              :key="`tag_${tagId}`"
              v-for="tagId in item.Tags"
              >{{ getTagName(tagId) }}</v-chip
            >
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: {
    item: {
      type: Object
    }
  },
  computed: {
    ...mapGetters({ tags: "tags/articleTagsListById" })
  },
  methods: {
    ...mapActions({ loadTags: "tags/loadArticleTags" }),
    getTagName(tagId) {
      if (!this.tags) {
        return '...';
      }
      return this.tags[tagId].name;
    },
    getCorrectForm(count) {
      if (count === 1) {
        return "tag";
      }
      if (count < 5) {
        return "tagy";
      }
      return "tagů";
    },
    getTagsCount(tags) {
      let count = tags.length;
      count--;
      if (count > 0) {
        return `+ ${count} ${count < 5 ? "další" : "dalších"}`;
      }
    }
  },
  async mounted() {
    await this.loadTags();
  }
};
</script>
