<template>
  <v-autocomplete
    filled
    :value="tags"
    @input="value => $emit('update:tags', value)"
    :items="tagsList"
    :label="$t('Vybrete tag (tagy)')"
    item-text="name"
    item-value="id"
    multiple
  >
    <template v-slot:selection="{ item, index }">
      <v-chip
        small
        color="primary"
        :key="`tag_chip_${index}`"
        close
        @click:close="() => removeTag(index)"
      >
        <span>{{ item.name }}</span>
      </v-chip>
    </template>
  </v-autocomplete>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({ tagsList: "tags/articleTagsList" })
  },
  props: {
    tags: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    ...mapActions({ loadTags: "tags/loadArticleTags" }),
    removeTag(idx) {
      let updated = this.tags.slice();
      updated.splice(idx, 1);
      this.$emit("update:tags", updated);
    }
  },
  mounted() {
    this.loadTags();
  }
};
</script>
