<!DOCTYPE html>
<html lang="en" style="overflow-y: auto;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script type="application/javascript">
      window.backendVersion = '{{ version }}'
    </script>
    <title>Administration</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!--
Pro editaci teto galerie se prosim prihlaste do adminu
https://admin.bz-uk.roamingowl.com/plants
( v pripade problemu piste jurajsim@gmail.com)
-->
    <!--use this as template for integration into drupal-->
    <div id="widget" class="gallery-widget" apiKey="mdDIUVkJ0AyFNA23UF0J0ztA8r72kbXe" galleryId="bc3ebc3c-253e-43a9-9243-a763708d013g" registryUrl="http://registr.bz-uk.roamingowl.com" apiEndpoint="http://localhost:8222/widget-data/gallery/"/>
    <script src="//registr.bz-uk.roamingowl.com/widgets/drupal_gallery_react.js"></script>
    <script>
      var link = document.createElement( "link" );
      link.href = "//registr.bz-uk.roamingowl.com/widgets/drupal_gallery_react.css"
      link.type = "text/css";
      link.rel = "stylesheet";
      link.media = "screen,print";
      document.getElementsByTagName( "head" )[0].appendChild( link );
    </script>
  </body>
</html>
