<template>
  <div
    style="display: flex; align-items: center; justify-content: space-between; padding-bottom: 12px;"
  >
    <div class="breadcrumb">
      <span :key="`item_${idx}`" v-for="(item, idx) in items">
        <router-link v-if="item.to" :to="item.to">
          {{ item.text }}
        </router-link>
        <v-label v-if="!item.to">{{ item.text }}</v-label>
        <span class="divider" v-if="idx < items.length - 1">/</span>
      </span>
    </div>
    <slot name="primaryAction"></slot>
  </div>
</template>
<script>
import { ROUTES } from "../../../routes";

export default {
  computed: {
    items() {
      let list = [{ text: "Dashboard", to: { name: ROUTES.HOME } }];
      if (this.name) {
        list.push({
          text: this.name,
          disabled: true
        });
      }
      if (this.crumbs && this.crumbs.length) {
        list = list.concat(this.crumbs);
      }
      return list;
    }
  },
  props: {
    name: String,
    crumbs: {
      type: Array,
      default: () => []
    }
  }
};
</script>
<style lang="scss" scoped>
.breadcrumb {
  .divider {
    margin: 0 0.5rem 0 0.5rem;
  }
}
</style>
