<template>
  <div>
    <div v-if="marker">{{ marker.title }}</div>
    <template v-if="plant">
      <div>
        <i>{{ plant.name_lat }}</i>
      </div>
      <v-divider></v-divider>
      <div style="max-width: 250px;">
        <v-chip
          style="margin: .5rem 0 0 .5rem"
          small
          :key="`tag_${tag.id}`"
          v-for="tag in plant.tags"
          >{{ tag.name }}</v-chip
        >
      </div>
    </template>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      plant: null
    };
  },
  props: {
    marker: {
      type: Object
    }
  },
  methods: {
    ...mapActions({ loadPlant: "plants/loadPlant" }),
    async loadPlantInfo() {
      if (!this.marker) {
        return;
      }
      try {
        this.plant = await this.loadPlant(this.marker.plant_id);
      } catch (e) {
        console.error("Unable to  load plant data", e);
      }
    }
  },
  watch: {
    marker(newVal) {
      setTimeout(() => {
        this.loadPlantInfo();
      }, 50);
    }
  },
  async mounted() {
    this.loadPlantInfo();
  }
};
</script>
