<template>
  <v-edit-dialog
    persistent
    large
    :return-value.sync="item.is_active"
    @save="() => onSave(item)"
  >
    <div
      style="display: flex; align-items: center;"
      :title="
        `${
          item.is_active === 1 ? 'Publikováno' : 'Neaktivní'
        } - klikni pro změnu`
      "
    >
      <v-chip
        style="cursor: pointer;"
        small
        :color="item.is_active ? 'green' : 'lightgray'"
        >{{ item.is_active ? "Ano" : "Ne" }}</v-chip
      >
      <v-progress-circular
        v-if="item.loading"
        style="margin-left: .5rem;"
        size="15"
        indeterminate
      ></v-progress-circular>
    </div>
    <template v-slot:input>
      <v-switch
        :true-value="1"
        :false-value="0"
        hide-details
        inset
        v-model="item.is_active"
        dense
        label="Publikováno"
      ></v-switch>
    </template>
  </v-edit-dialog>
</template>
<script>
export default {
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    onSave(item) {
      this.$emit("save", item);
    }
  }
};
</script>
