<template>
  <v-edit-dialog
    persistent
    large
    :return-value.sync="item.tagIds"
    @save="() => onSave(item)"
  >
    <v-menu open-on-hover bottom offset-y>
      <template v-slot:activator="{ on }">
        <div
          v-on="on"
          :title="
            `${item.tags.length} ${getCorrectForm(
              item.tags.length
            )}. Klikni pro editaci`
          "
          style="cursor:pointer; display: flex; align-items: center; white-space: nowrap;"
        >
          <v-icon title="Právě kvete" v-if="isBlooming(item.tags)"
            >mdi-flower</v-icon
          >
          <v-icon title="Právě plodí" v-if="bearingFruits(item.tags)"
            >mdi-fruit-cherries</v-icon
          >
          <div v-if="item.tags.length > 0">
            {{ getTagsCount(item.tags) }}
          </div>
          <div v-if="item.tags.length === 0">Žádné</div>
        </div>
      </template>
      <v-card>
        <v-card-text>
          <div style="max-width: 300px; max-height: 300px; overflow-y: auto;">
            <v-chip
              small
              style="margin: .5rem 0 0 .5rem;"
              :key="`tag_${tag.name}`"
              v-for="tag in item.tags"
              >{{ tag.name }}</v-chip
            >
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
    <template v-slot:input>
      <v-autocomplete
        style="z-index: 1000;"
        label="Tagy"
        v-model="item.tagIds"
        :items="tags"
        chips
        multiple
        item-text="name"
        item-value="id"
      >
        <template v-slot:selection="data">
          <v-chip
            v-bind="data.attrs"
            :input-value="data.selected"
            close
            @click="data.select"
            @click:close="removeTag(data.item)"
          >
            {{ data.item.name }}
          </v-chip>
        </template>
      </v-autocomplete>
    </template>
  </v-edit-dialog>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  props: {
    item: {
      type: Object
    }
  },
  computed: {
    ...mapGetters({ tags: "tags/tagsList" })
  },
  methods: {
    bearingFruits(tags) {
      for (let i = 0; i < tags.length; i++) {
        if (tags[i].id === 185) {
          return true;
        }
      }
      return false;
    },
    isBlooming(tags) {
      for (let i = 0; i < tags.length; i++) {
        if (tags[i].id === 11) {
          return true;
        }
      }
      return false;
    },
    getCorrectForm(count) {
      if (count === 1) {
        return "tag";
      }
      if (count < 5) {
        return "tagy";
      }
      return "tagů";
    },
    onSave(item) {
      this.$emit("save", item);
    },
    removeTag(itemToRemove) {
      for (let i = 0; i < this.item.tagIds.length; i++) {
        if (itemToRemove.id === this.item.tagIds[i]) {
          let tags = this.item.tagIds.slice();
          tags.splice(i, 1);
          this.item.tagIds = tags;
        }
      }
    },
    getTagsCount(tags) {
      let count = tags.length;
      if (this.isBlooming(tags)) {
        count--;
      }
      if (this.bearingFruits(tags)) {
        count--;
      }
      if (count === tags.length) {
        return `${count} ${this.getCorrectForm(count)}`;
      }
      if (count > 0) {
        return `+ ${count} ${count < 5 ? "další" : "dalších"}`;
      }
    }
  }
};
</script>
