<template>
  <div>
    <breadcrumb :crumbs="crumbs"></breadcrumb>
    <v-card>
      <v-card-text>
        <div class="full-width">
          <div class="about-dialog">
            <div>Admin panel pro BZUK</div>
            <div
              class="version-number"
              :title="
                `Application version, frontend: ${version &&
                  version.frontend}, backend: ${version && version.backend}`
              "
            >
              ver. f{{ version && version.frontend }}/b{{
                version && version.backend
              }}
            </div>
            <br />
            <div>Autor: Juraj Šimon</div>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import Breadcrumb from "@components/pages/plants-list/breadcrumb-with-action";
import { ROUTES } from "../../routes";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Breadcrumb
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      languages: "languages/languages",
      user: "user/user",
      version: "app/version"
    }),
    crumbs() {
      return [
        //TODO: fix this link by edit breadrumb component an duse slot or just use own component
        { text: "Ostatní"},
        { text: "O aplikaci" }
      ];
    }
  }
};
</script>
<style lang="scss" scoped>
.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}
.about-dialog {
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
</style>
