<template>
  <div>
    <breadcrumb name="Články">
      <template v-slot:primaryAction>
        <v-btn
          small
          color="primary"
          :to="{ name: ROUTES.ARTICLE_EDIT, params: { id: '_' } }"
          >Vytvořit článek</v-btn
        >
      </template>
    </breadcrumb>
    <page-filter
      name="articles-list-filter"
      :search.sync="search"
      :loading="loading"
      :search-label="$t('search')"
      search-placeholder="Začněte psát..."
      @requestSearch="loadNow"
      :searchButtonLabel="$t('search')"
    >
      <template v-slot:underSearchMiddle>
        <div v-if="articles">
          {{ $tc("foundArticles", totalArticlesCount) }}
        </div>
      </template>
    </page-filter>
    <SimpleTableWrapper
      style="margin-top: 1rem;"
      label="Seznam článků"
      :loadin="loading"
      :totalCount="totalArticlesCount"
      :rowsPerPage.sync="rowsPerPage"
      :sort-by="sortBy"
      :page.sync="page"
      @load-request="loadNow"
      :all-table-headers="allTableHeaders"
      :dense-table.sync="denseTable"
      :visible-columns.sync="visibleColumns"
    >
      <template v-slot:table>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="articles"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalArticlesCount"
        >
          <template v-slot:no-data>
            {{ $t("Nenalezeny žádné články") }}
          </template>
          <template v-slot:item.created_at="{ item }">
            <date-time-cell-widget
              :date="item.created_at"
            ></date-time-cell-widget>
          </template>
          <template v-slot:item.updated_at="{ item }">
            <date-time-cell-widget
              :date="item.updated_at"
            ></date-time-cell-widget>
          </template>
          <template v-slot:item.translations="{ item }">
            <translations-list-cell-widget
              :translations="
                item.ArticleTranslations.map(
                  translation => translation.language_id
                )
              "
            ></translations-list-cell-widget>
          </template>
          <template v-slot:item.published_at="{ item }">
            <published-cell-widget :item="item"></published-cell-widget>
          </template>
          <template v-slot:item.title="{ item }">
            <highlighted-name-cell-widget
              :text="getDefaultTitle(item.ArticleTranslations)"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.Tags="{ item }">
            <tags-cell-widget :item="item"></tags-cell-widget>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <v-btn
                small
                icon
                title="Editovat článek"
                :to="{ name: ROUTES.ARTICLE_EDIT, params: { id: item.id } }"
              >
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Smazat článek"
                @click="() => confirmDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </template>
    </SimpleTableWrapper>
  </div>
</template>
<script>
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import PageFilter from "./../common/page-filter";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "../../util/local-storage";
import { ArticlesService } from "./../../services/articles";
import HighlightedNameCellWidget from "./../common/highlighted-text-cell-widget";
import SimpleTableWrapper from "../common/simple-table-wrapper";
import TagsCellWidget from "./article/tags-cell-widget";
import { ROUTES } from "../../routes";
import TranslationsListCellWidget from "../common/translations-list-cell-widget";
import DateTimeCellWidget from "../common/date-time-cell-widget";
import { mapActions, mapGetters } from "vuex";
import { getDefaultLanguage } from "../../util/language";
import PublishedCellWidget from "./articles-list/published-cell-widget";

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Název (CZ)", sortable: true, value: "title" },
  { text: "Vytvořen", sortable: true, value: "created_at" },
  { text: "Jazyk", sortable: false, value: "translations" },
  { text: "Změněn", sortable: true, value: "updated_at" },
  { text: "Tagy", sortable: false, value: "Tags" },
  { text: "Publikováno", sortable: true, value: "published_at" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

let debounceTimer;

export default {
  components: {
    PublishedCellWidget,
    DateTimeCellWidget,
    TranslationsListCellWidget,
    HighlightedNameCellWidget,
    Breadcrumb,
    PageFilter,
    SimpleTableWrapper,
    TagsCellWidget
  },
  data() {
    return {
      search: getStringWithDefault("articlesSearch", ""),
      loading: false,
      articles: [],
      totalArticlesCount: 0,
      tableOptionsMenu: false,
      sortBy: getArrayWithDefault("articlesTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("articlesTableSortOrder", "asc"),
      denseTable: getBooleanWithDefault("articlesListDenseTable", false),
      visibleColumns: getObjectWithDefault("articlesTableVisibleColumns", {
        id: true,
        title: true,
        created_at: true,
        updated_at: true,
        action: true
      }),
      page: getIntWithDefault("articlesListPage", 1),
      rowsPerPage: getIntWithDefault("articlesListRowsPerPage", 20)
    };
  },
  computed: {
    ...mapGetters({ languages: "languages/languages" }),
    allTableHeaders() {
      return allTableHeaders;
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    },
    ROUTES() {
      return ROUTES;
    }
  },
  methods: {
    getDefaultTitle(translations) {
      if (!translations || !translations.length) {
        return "";
      }
      let defaultLanguage = getDefaultLanguage();
      for (let translation of translations) {
        if (translation.language_id === defaultLanguage.id) {
          return translation.title;
        }
      }
      return translations[0].title;
    },
    onTableSortDescUpdate(desc) {
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "articlesTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    async confirmDelete(item) {
      let message = `Smazat článek "${item.title}?"`;
      if (await this.$root.$confirm("Potvrzení", message)) {
        await ArticlesService.delete(item.id);
      }
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("articlesTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadData(filter, page, rowsPerPage) {
      let response = await ArticlesService.getTableData(
        filter,
        page,
        rowsPerPage
      );
      this.articles = response.rows;
      this.totalArticlesCount = response.count;
    },
    loadNow() {
      this.loading = true;
      try {
        this.loadData(
          {
            search: this.search,
            sortBy: this.sortBy,
            sortOrder: this.sortOrder
          },
          this.page,
          this.rowsPerPage
        );
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("articlesSearch", JSON.stringify(newVal));
    },
    visibleColumns(newVal) {
      localStorage.setItem(
        "articlesTableVisibleColumns",
        JSON.stringify(newVal)
      );
    }
  },
  async mounted() {
    await this.loadNow();
  }
};
</script>
