<template>
  <ValidationObserver v-slot="{ valid }">
    <breadcrumb :crumbs="crumbs"></breadcrumb>
    <v-card>
      <v-card-text>
        <tags-picker v-if="article" :tags.sync="article.Tags"></tags-picker>
        <v-divider></v-divider>
        <br />
        {{ $t("Překlady") }}
        <br />
        <language-tabs
          v-if="article"
          :translations="article.ArticleTranslations"
          :active-tab="($route.query.tab && parseInt($route.query.tab)) || 0"
        >
          <template v-slot:tabItem="{ translation }">
            <br />
            <text-field-with-validation
              v-model="translation.title"
              :rules="
                isNew ? 'required|length:255|slugValid' : 'required|length:255'
              "
              filled
              dense
              background-color="#f9f9f9"
              :label="$t('Název')"
              counter="255"
            ></text-field-with-validation>
            <br />
            <div :title="$t('')" :class="isNew ? 'no-select' : ''">
              <v-icon>mdi-link</v-icon>
              {{ getArticleSlugByLanguageId(translation.language_id) }}
              <v-btn
                v-if="!isNew"
                @click="e => copyLinkToClipboard(translation, e)"
                icon
                :title="$t('Kopírovat do schránky')"
              >
                <v-icon>mdi-clipboard-arrow-right-outline</v-icon>
              </v-btn>
              <span>(V jazyku: čeština)</span>
            </div>
            <div :title="$t('')" :class="isNew ? 'no-select' : ''">
              <v-icon>mdi-link</v-icon>
              {{ getGeneralUrl() }}
              <v-btn
                v-if="!isNew"
                @click="e => copyLinkToClipboard(translation, e)"
                icon
                :title="$t('Kopírovat do schránky')"
              >
                <v-icon>mdi-clipboard-arrow-right-outline</v-icon>
              </v-btn>
              <span>(Automatická detekce jazyka)</span>
            </div>
            <br />
            <div v-if="!translation.url_slug">
              <div class="top-left-bubble">
                <div class="bubble-content">
                  <v-icon color="#ffbc00">mdi-information-outline</v-icon>
                  <span class="bubble-content-text"
                    >Tahle adresa je pouze orientační. Přesná adresa bude
                    vygenerována po úspěšném vytvoření článku.</span
                  >
                </div>
              </div>
            </div>
            <v-divider></v-divider>
            <br />
            <v-label
              >Obrázek (bude použitej při zobrazení miniatur a v
              seznamech)</v-label
            >
            <div style="height: 250px;">
              <SingleImageField
                v-model="translation.preview_image_id"
                max-size="3mb"
              ></SingleImageField>
            </div>
            <br />
            <v-divider></v-divider>
            <br />
            <v-label>{{ $t("Obsah") }}</v-label>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <ckeditor
                class="article-content-edit"
                :editor="classicEditor"
                v-model="translation.content"
                :config="editorConfig"
              ></ckeditor>
              <!--              <editor v-model="translation.content"></editor>-->
              <div style="color: red;" v-if="errors">
                {{ errors.join(", ") }}
              </div>
            </ValidationProvider>
            <br />
            <v-label>{{ $t("Shrnutí") }}</v-label>
            <v-textarea
              filled
              background-color="#f9f9f9"
              v-model="translation.preview_text"
            ></v-textarea>
            <transition name="fade">
              <div v-if="!translation.preview_text">
                <div class="top-left-bubble">
                  <div class="bubble-content">
                    <v-icon color="#ffbc00">mdi-information-outline</v-icon>
                    <span class="bubble-content-text">{{
                      $t(
                        "V případě že nebude vyplněno, bude vygenerováno automaticky z prvních pár vět obsahu."
                      )
                    }}</span>
                  </div>
                </div>
              </div>
            </transition>
            <v-label>Autoři</v-label>
            <authors-picker
              :authors.sync="translation.Authors"
            ></authors-picker>
            <v-divider></v-divider>
            <v-switch
              v-model="translation.published"
              label="Publikováno"
            ></v-switch>
            <transition name="fade">
              <date-time-picker
                v-if="translation.published"
                :date.sync="translation.published_at"
              ></date-time-picker>
            </transition>

            <v-expansion-panels>
              <v-expansion-panel v-if="!isNew">
                <v-expansion-panel-header>
                  <div style="display: flex; align-items: center;">
                    <v-icon>mdi-information-outline</v-icon>
                    <span style="margin-left: .5rem;"
                      ><v-label>Další informace</v-label></span
                    >
                  </div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div style="display: flex;width: 100%;">
                    <div
                      style="display: flex; align-items: center; width: 50%;"
                    >
                      <span><v-icon>mdi-clock</v-icon></span>
                      <span style="margin-left: .5rem;"
                        ><v-label>Vytvořeno:</v-label>
                      </span>
                      <span
                        style="font-style: italic; margin-left: .5rem;"
                        :title="formatDateHr(translation.created_at)"
                      >
                        {{
                          formatDateToStringUntilNow(translation.created_at)
                        }}</span
                      >
                    </div>
                    <div
                      style="display: flex; align-items: center; width: 50%;"
                    >
                      <span><v-icon>mdi-clock</v-icon></span>
                      <span style="margin-left: .5rem;"
                        ><v-label>Poslední úprava:</v-label></span
                      >
                      <span
                        style="font-style: italic; margin-left: .5rem;"
                        :title="formatDateHr(translation.updated_at)"
                      >
                        {{
                          formatDateToStringUntilNow(translation.updated_at)
                        }}</span
                      >
                    </div>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <div style="width: 100%; display: flex;">
              <v-spacer></v-spacer>
              <v-btn
                :disabled="
                  getLanguageById(translation.language_id).two_letter_code ===
                    'cs' ||
                    (article && article.system)
                "
                @click="e => deleteTranslation(translation.language_id, e)"
                text
                >{{ $t("Smazat překlad") }}
              </v-btn>
            </div>
          </template>
        </language-tabs>
        <v-divider></v-divider>
        <br />
        <div v-if="!isNew">
          <v-text-field filled disabled label="Vlastník" :value="user.username">
          </v-text-field>
          <v-divider></v-divider>
        </div>
      </v-card-text>
    </v-card>
    <br />
    <br />
    <br />
    <actions-bar
      :is-new="isNew"
      :unsaved-changes="unsavedChanges"
      :valid="valid"
      @save-request="save"
      :can-delete="article && !article.system"
      @cancel-save-request="cancelSave"
      @delete-request="deleteMe"
    ></actions-bar>
  </ValidationObserver>
</template>
<script>
import Breadcrumb from "@components/pages/plants-list/breadcrumb-with-action";
import { ArticlesService } from "./../../services/articles";
import { extend, ValidationObserver, ValidationProvider } from "vee-validate";
import { ROUTES } from "../../routes";
import TextFieldWithValidation from "@components/common/text-field-with-validation";
import urlJoin from "proper-url-join";
import CKEditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from "jurajsim-ckeditor5-custom-build/build/ckeditor";
import { format as formatDate } from "date-fns";
import DateTimePicker from "@components/common/date-time-picker";
import { mapActions, mapGetters } from "vuex";
import { isEqual } from "lodash-es";
import SingleImageField from "@components/common/single-image-filed";
import {
  getLanguageById,
  getAllLanguagesIds,
  getArticlesPrefixByLanguage
} from "../../util/language";
import { createEmptyArticle } from "../../util/default-models";
import { cloneObject, copyTextToClipboard } from "../../util/common";
import LanguageTabs from "@components/pages/article/language-tabs";
import ActionsBar from "@components/common/actions-bar";
import distanceInWordsToNow from "date-fns/distance_in_words_to_now";
import csLocale from "date-fns/locale/cs";
import AuthorsPicker from "@components/pages/article/authors-picker";
import { createSlug } from "../../util/slug";
import TagsPicker from "@components/pages/article/tags-picker";
import { cancelableUploadSingleFile } from "../../services/upload";

extend("slugValid", {
  validate: async value => {
    return await ArticlesService.titleValid(value);
  },
  message: "Článek se stejným názvem už existuje"
});

class SimpleUploadAdapter {
  constructor(loader) {
    this.loader = loader;
  }

  upload() {
    // const self = this;
    return this.loader.file.then(file => {
      const { response, cancel } = cancelableUploadSingleFile(file, {
        onUploadProgress: evt => {
          this.loader.uploadTotal = evt.total;
          this.loader.uploaded = evt.loaded;
        }
      });
      this.cancel = cancel;
      return response.then(data => {
        this.cancel = null;
        data.default = data.url;
        return data;
      });
    });
  }

  abort() {
    if (this.cancel) {
      this.cancel();
    }
  }
}

function MyCustomUploadAdapterPlugin(editor) {
  editor.plugins.get("FileRepository").createUploadAdapter = loader => {
    // Configure the URL to the upload script in your back-end here!
    return new SimpleUploadAdapter(loader);
  };
}

export default {
  components: {
    // Editor,
    TagsPicker,
    AuthorsPicker,
    ActionsBar,
    DateTimePicker,
    TextFieldWithValidation,
    Breadcrumb,
    LanguageTabs,
    ValidationProvider,
    ckeditor: CKEditor.component,
    ValidationObserver,
    SingleImageField
  },
  data() {
    return {
      article: null,
      originalArticle: null,
      previewImageUpload: null,
      previewImageId: null,
      previewImageUrl: null,
      classicEditor: ClassicEditor,
      processing: false,
      detailsVisible: true
    };
  },
  computed: {
    ...mapGetters({ languages: "languages/languages", user: "user/user" }),
    isNew() {
      return this.$route.params.id === "_";
    },
    missingTranslations() {
      if (!this.languages || !this.article) {
        return [];
      }
      let list = [];
      let allIds = getAllLanguagesIds();
      for (let langId of allIds) {
        try {
          this.getTranslationByLanguageId(langId);
        } catch (e) {
          list.push(langId);
        }
      }
      return list;
    },
    unsavedChanges() {
      return !isEqual(
        cloneObject(this.originalArticle),
        cloneObject(this.article)
      );
    },
    ...mapGetters({ webp: "app/webp" }),
    uploadUrl() {
      return urlJoin(process.env.VUE_APP_DOMAIN, "upload/image");
    },
    editorConfig() {
      return {
        language: "cs",
        //plugins: [],
        toolbar: {
          viewportTopOffset: 64,
          items: [
            "heading",
            "|",
            "bold",
            "italic",
            "underline",
            "|",
            "fontBackgroundColor",
            "fontColor",
            "fontSize",
            "fontFamily",
            "removeFormat",
            "|",
            "bulletedList",
            "numberedList",
            "|",
            "alignment",
            "indent",
            "outdent",
            "|",
            "specialCharacters",
            "link",
            "horizontalLine",
            "imageUpload",
            "insertTable",
            "mediaEmbed",
            "undo",
            "redo"
          ]
        },
        extraPlugins: [MyCustomUploadAdapterPlugin],
        mediaEmbed: {
          previewsInData: true
        },
        image: {
          toolbar: [
            "imageTextAlternative",
            "|",
            "imageStyle:full",
            "imageStyle:alignLeft",
            "imageStyle:alignCenter",
            "imageStyle:alignRight"
          ],
          styles: ["full", "alignLeft", "alignCenter", "alignRight"]
        }
      };
    },
    //TODO: in tags list column usage is not remembered!
    publicWebDomain() {
      //TODO: replace with settings
      return process.env.VUE_APP_PUBLIC_WEB_DOMAIN;
    },
    crumbs() {
      return [
        //TODO: fix this link by edit breadrumb component an duse slot or just use own component
        { text: "Články", to: { name: ROUTES.ARTICLES_LIST } },
        { text: this.isNew ? "Nový článek" : "Editace článku", disabled: true }
      ];
    },
    ROUTES() {
      return ROUTES;
    }
  },
  methods: {
    ...mapActions({ loadLanguages: "languages/load" }),
    getLanguageById,
    formatDate,
    async deleteMe() {
      if (await this.$root.$confirm("Potvrzení", "Opravdu smazat článek?")) {
        await ArticlesService.delete(this.article.id);
        await this.$router.push({ name: ROUTES.ARTICLES_LIST });
      }
    },
    copyLinkToClipboard(translation) {
      copyTextToClipboard(
        this.getArticleSlugByLanguageId(translation.language_id)
      );
    },
    async deleteTranslation(langId) {
      if (
        !(await this.$root.$confirm("Potvrzení", "Opravdu smazat překlad?"))
      ) {
        return;
      }
      for (let i = 0; i < this.article.ArticleTranslations.length; i++) {
        if (this.article.ArticleTranslations[i].language_id === langId) {
          this.article.ArticleTranslations.splice(i, 1);
          this.article.ArticleTranslations.splice(
            this.article.ArticleTranslations.length
          );
        }
      }
    },
    getGeneralUrl() {
      if (this.isNew) {
        return urlJoin(this.publicWebDomain, "articles", `{ID_CLANKU}`);
      }
      return urlJoin(this.publicWebDomain, "articles", this.article.id);
    },
    getArticleSlugByLanguageId(langId) {
      if (this.isNew) {
        return urlJoin(
          this.publicWebDomain,
          getArticlesPrefixByLanguage(langId),
          this.getTranslationByLanguageId(langId).title
            ? `${createSlug(this.getTranslationByLanguageId(langId).title)}`
            : "?"
        );
      }
      return urlJoin(
        this.publicWebDomain,
        getArticlesPrefixByLanguage(langId),
        this.getTranslationByLanguageId(langId).url_slug
      );
    },
    getTranslationByLanguageId(langId) {
      for (let lang of this.article.ArticleTranslations) {
        if (lang.language_id === langId) {
          return lang;
        }
      }
      throw new Error(`Translation for language id ${langId} does not exist!`);
    },
    formatDateHr(date) {
      return formatDate(date, "d.MMMM YYYY HH:mm", { locale: csLocale });
    },
    formatDateToStringUntilNow(date) {
      return `${distanceInWordsToNow(date, {
        addSuffix: true,
        locale: csLocale
      })}`;
    },
    async cancelSave() {
      if (this.unsavedChanges) {
        if (
          !(await this.$root.$confirm(
            "Potvrzení",
            "V článku jsou neuložené změny. Opravdu zrušit?"
          ))
        ) {
          return;
        }
      }
      await this.$router.push({ name: ROUTES.ARTICLES_LIST });
    },
    async save() {
      this.processing = true;
      try {
        if (this.isNew) {
          this.article = await ArticlesService.create(this.article);
          await this.$router.replace({ params: { id: this.article.id } });
        } else {
          this.article = await ArticlesService.update(this.article);
        }
        this.originalArticle = cloneObject(this.article);
      } catch (e) {
        console.error("Unable to save article", e);
        return;
      } finally {
        this.processing = false;
      }
    },
    deleteImage(translation) {
      translation.previewImageId = null;
      translation.previewImageUrl = null;
      translation.previewImageUpload = null;
    }
  },
  async mounted() {
    await this.loadLanguages();

    if (this.$route.params.id === "_") {
      this.article = createEmptyArticle();
    } else {
      this.article = await ArticlesService.get(this.$route.params.id);
    }
    this.originalArticle = cloneObject(this.article);
  },
  async beforeRouteLeave(to, from, next) {
    if (this.unsavedChanges) {
      if (
        !(await this.$root.$confirm(
          "Potvrzení",
          "V článku jsou neuložené změny. Opravdu zrušit?"
        ))
      ) {
        return next(false);
      }
    }
    return next();
  }
};
</script>
<style lang="scss">
.article-content-edit {
  background-color: #f9f9f9;
  border: 1px solid lightgray !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;

  .ck-editor__editable_inline {
    min-height: 400px;
  }
}
</style>
<style lang="scss" scoped>
.no-select {
  user-select: none;
}

//copied from https://codepen.io/Founts/pen/gmhcl
.top-left-bubble {
  margin: 20px 20px 5px 20px;
  display: inline-block;
  position: relative;
  //width: 200px;
  height: auto;
  background-color: lightyellow;
  border-radius: 15px;
  border: 1px solid #666;

  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    right: auto;
    top: -20px;
    bottom: auto;
    border: 10px solid;
    border-color: transparent transparent #666 #666;
  }

  &:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 21px;
    right: auto;
    top: -18px;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent lightyellow lightyellow;
  }
}

.bubble-content {
  margin: 10px;
  display: flex;
  align-items: center;

  &-text {
    margin-left: 0.5rem;
  }
}
</style>
