<template>
  <div>
    <breadcrumb name="Autoři">
      <template v-slot:primaryAction>
        <v-btn small color="primary" @click="addNew">Vytvořit autora</v-btn>
      </template>
    </breadcrumb>
    <page-filter
      name="authors-list-filter"
      :search.sync="search"
      :loading="loading"
      search-label="Hledanej autor"
      search-placeholder="Začni psát..."
      Placeholder="Začni psát..."
      @requestSearch="loadNow"
      searchButtonLabel="Hledej"
    >
      <template v-slot:underSearchMiddle>
        <div v-if="authors && totalAuthorsCount">
          {{ `Nalezeno ${totalAuthorsCount} autorů` }}
        </div>
        <div v-if="authors && !totalAuthorsCount">
          {{ `Nenalezeni žádný autoři` }}
        </div>
      </template>
    </page-filter>
    <simple-table-wrapper
      style="margin-top: 1rem;"
      label="Seznam autorů"
      :loadin="loading"
      :totalCount="totalAuthorsCount"
      :rowsPerPage="rowsPerPage"
      :sort-by="sortBy"
      :page.sync="page"
      @load-request="loadNow"
      :all-table-headers="allTableHeaders"
      :dense-table.sync="denseTable"
      :visible-columns.sync="visibleColumns"
    >
      <template v-slot:table>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="authors"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalAuthorsCount"
        >
          <template v-slot:item.name="{ item }">
            <highlighted-name-cell-widget
              :text="item.name"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.note="{ item }">
            <Clamp :title="item.note" autoresize :max-lines="1">{{
              item.note
            }}</Clamp>
          </template>
          <template v-slot:item.plants_count="{ item }">
            <div>
              <v-chip small v-if="item.plants_count > 4">{{
                `${item.plants_count} rostlin`
              }}</v-chip>
              <v-chip
                small
                v-if="item.plants_count > 1 && item.plants_count < 5"
                >{{ `${item.plants_count} rostliy` }}</v-chip
              >
              <v-chip small v-if="item.plants_count === 1">{{
                `${item.plants_count} rostlina`
              }}</v-chip>
              <span small v-if="item.plants_count === 0">{{
                `Neoznačeny žádné rosltiny`
              }}</span>
            </div>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Editovat autora"
                @click="() => editOne(item)"
              >
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Smazat autora"
                @click="() => confirmDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </template>
    </simple-table-wrapper>
    <author-add-edit-dialog>
      <template v-slot:fields="{ model }">
        <text-field-with-validation
          label="Jméno"
          :counter="200"
          required
          rules="author-name-required|author-name-length:200"
          v-model="model.name"
        ></text-field-with-validation>
        <text-area-with-validation
          label="Poznámka"
          :counter="255"
          required
          rules="author-note-length:255"
          v-model="model.note"
        ></text-area-with-validation>
      </template>
    </author-add-edit-dialog>
  </div>
</template>
<script>
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import PageFilter from "./../common/page-filter";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "../../util/local-storage";
import { AuthorsService } from "./../../services/authors";
import { mapActions } from "vuex";
import { extend } from "vee-validate";
import HighlightedNameCellWidget from "./../common/highlighted-text-cell-widget";
import AuthorAddEditDialog from "../common/add-edit-dialog";
import Clamp from "vue-clamp";
import SimpleTableWrapper from "../common/simple-table-wrapper";
import TextAreaWithValidation from "../common/text-area-with-validation";
import TextFieldWithValidation from "../common/text-field-with-validation";

import { max, required } from "vee-validate/dist/rules";

extend("author-name-required", { ...required, message: "Jméno je povinné" });
extend("author-name-length", {
  ...max,
  message: "Max. délka jména autora je 200 znaků"
});
extend("author-note-length", {
  ...max,
  message: "Max. délka poznámky je 255 znaků"
});

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Jméno", sortable: true, value: "name" },
  { text: "Poznámka", sortable: true, value: "note", width: 250 },
  { text: "Použití", sortable: false, value: "plants_count" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

let debounceTimer;

export default {
  components: {
    SimpleTableWrapper,
    HighlightedNameCellWidget,
    Breadcrumb,
    Clamp,
    PageFilter,
    AuthorAddEditDialog,
    TextAreaWithValidation,
    TextFieldWithValidation
  },
  data() {
    return {
      search: getStringWithDefault("authorsSearch", ""),
      loading: false,
      authors: [],
      addEditDialogOpen: false,
      addEditDialogModel: {},
      addEditDialogCreateMode: true,
      totalAuthorsCount: 0,
      tableOptionsMenu: false,
      sortBy: getArrayWithDefault("authorsTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("authorsTableSortOrder", "asc"),
      denseTable: getBooleanWithDefault("authorsListDenseTable", false),
      visibleColumns: getObjectWithDefault("authorsTableVisibleColumns", {
        id: true,
        name: true,
        note: true,
        action: true
      }),
      page: getIntWithDefault("authorsListPage", 1),
      rowsPerPage: getIntWithDefault("authorsListRowsPerPage", 20)
    };
  },
  computed: {
    allTableHeaders() {
      return allTableHeaders;
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    }
  },
  methods: {
    ...mapActions({ clearAuthorsInStore: "authors/clearAuthors" }),
    createOne() {
      this.$emit("addEditDialogClose", this.addEditDialogModel);
    },
    onTableSortDescUpdate(desc) {
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "authorsTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    async editOne(item) {
      // let data = await this.openAddEditDialog(item);
      let data = await this.$addEditDialog.openAddEditDialog(item);
      if (data) {
        await AuthorsService.update(data);
        this.loadNow();
        this.clearAuthorsInStore();
      }
    },
    async addNew() {
      let data = await this.$addEditDialog.openAddEditDialog();
      if (data) {
        await AuthorsService.create(data);
        this.loadNow();
        this.clearAuthorsInStore();
      }
    },
    async confirmDelete(item) {
      let message = `Smazat autora "${item.name}?"`;
      if (item.plants_count > 0) {
        message = `Autor "${item.name}?" je prirazenej k ${item.plants_count} rostlinám. Přesto smazat?`;
      }
      if (await this.$root.$confirm("Potvrzení", message)) {
        await AuthorsService.delete(item.id);
      }
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("authorsTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadAuthors(filter, page, rowsPerPage) {
      let response = await AuthorsService.getTableData(
        filter,
        page,
        rowsPerPage
      );
      this.authors = response.rows;
      this.totalAuthorsCount = response.count;
    },
    loadNow() {
      this.loading = true;
      try {
        this.loadAuthors(
          {
            search: this.search,
            sortBy: this.sortBy,
            sortOrder: this.sortOrder
          },
          this.page,
          this.rowsPerPage
        );
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("authorsSearch", JSON.stringify(newVal));
    },
    page(newVal) {
      this.loadNow();
    },
    denseTable(newVal) {
      localStorage.setItem("authorsListDenseTable", JSON.stringify(newVal));
    },
    visibleColumns(newVal) {
      localStorage.setItem(
        "authorsTableVisibleColumns",
        JSON.stringify(newVal)
      );
    }
  },
  mounted() {
    this.loadNow();
  }
};
</script>
