<template>
  <div>
    <breadcrumb name="Kategorie">
      <template v-slot:primaryAction>
        <v-btn small color="primary" @click="addNew">Vytvořit kategorii</v-btn>
      </template>
    </breadcrumb>
    <page-filter
      name="categories-list-filter"
      :search.sync="search"
      :loading="loading"
      search-label="Hledaná kategorie"
      search-placeholder="Začni psát..."
      Placeholder="Začni psát..."
      @requestSearch="loadNow"
      searchButtonLabel="Hledej"
    >
      <template v-slot:underSearchMiddle>
        <div v-if="categories && totalCategoriesCount">
          {{ `Nalezeno ${totalCategoriesCount} kategorií` }}
        </div>
        <div v-if="categories && !totalCategoriesCount">
          {{ `Nenalezeny žádné kategorie` }}
        </div>
      </template> </page-filter
    >
    <simple-table-wrapper
      style="margin-top: 1rem;"
      label="Seznam kategorií"
      :loadin="loading"
      :totalCount="totalCategoriesCount"
      :rowsPerPage="rowsPerPage"
      :sort-by="sortBy"
      :page.sync="page"
      @load-request="loadNow"
      :all-table-headers="allTableHeaders"
      :dense-table.sync="denseTable"
      :visible-columns.sync="visibleColumns"
    >
      <template v-slot:table>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="categories"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalCategoriesCount"
        >
          <template v-slot:item.name="{ item }">
            <highlighted-name-cell-widget
              :text="item.name"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.created_at="{ item }">
            <div
                    class="wrap-letters-overflow"
                    :title="
                `${distanceInWordsToNow(item.created_at, {
                  addSuffix: true,
                  locale: csLocale
                })} - ${formatDate(item.created_at, 'd.MMM YYYY HH:mm')}`
              "
            >
              <Timeago
                      locale="cs"
                      :auto-update="5"
                      v-if="item.created_at"
                      :datetime="item.created_at"
              ></Timeago>
            </div>
          </template>
          <template v-slot:item.updated_at="{ item }">
            <div
                    class="wrap-letters-overflow"
                    :title="
                `${distanceInWordsToNow(item.updated_at, {
                  addSuffix: true,
                  locale: csLocale
                })} - ${formatDate(item.updated_at, 'd.MMM YYYY HH:mm')}`
              "
            >
              <Timeago
                      locale="cs"
                      :auto-update="5"
                      v-if="item.updated_at"
                      :datetime="item.updated_at"
              ></Timeago>
            </div>
          </template>
          <template v-slot:item.plants_count="{ item }">
            <div>
              <span v-if="item.plants_count > 4">{{
                `Označeno ${item.plants_count} rostlin`
              }}</span>
              <span v-if="item.plants_count > 1 && item.plants_count < 5">{{
                `Označeny ${item.plants_count} rostliy`
              }}</span>
              <span v-if="item.plants_count === 1">{{
                `Označena ${item.plants_count} rostlina`
              }}</span>
              <span v-if="item.plants_count === 0">{{
                `Neoznačeny žádné rosltiny`
              }}</span>
            </div>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Editovat kategorii"
                @click="() => editOne(item)"
              >
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Smazat kategorii"
                @click="() => confirmDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </template>
    </simple-table-wrapper>
    <add-edit-dialog>
      <template v-slot:fields="{ model }">
        <text-field-with-validation
          label="Jméno"
          :counter="255"
          required
          rules="category-name-required|category-name-length:255"
          v-model="model.name"
        ></text-field-with-validation>
      </template>
    </add-edit-dialog>
  </div>
</template>
<script>
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import SimpleTableWrapper from "../common/simple-table-wrapper";
import PageFilter from "./../common/page-filter";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "../../util/local-storage";
import { CategoriesService } from "./../../services/categories";
import { mapActions } from "vuex";
import HighlightedNameCellWidget from "./../common/highlighted-text-cell-widget";
import { extend } from "vee-validate";
import { required, max } from "vee-validate/dist/rules";
import TextFieldWithValidation from "../common/text-field-with-validation";
import AddEditDialog from "../common/add-edit-dialog";
extend("category-name-required", { ...required, message: "Jméno je povinné" });
extend("category-name-length", {
  ...max,
  message: "Max. délka jména kategorie je 255 znaků"
});
import distanceInWordsToNow from "date-fns/distance_in_words_to_now";
import csLocale from "date-fns/locale/cs";
import { format as formatDate } from "date-fns";

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Jméno", sortable: true, value: "name" },
  { text: "Použití", sortable: false, value: "plants_count" },
  { text: "Vytvořena", sortable: true, value: "created_at" },
  { text: "Změněna", sortable: true, value: "updated_at" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

let debounceTimer;

export default {
  components: {
    AddEditDialog,
    TextFieldWithValidation,
    HighlightedNameCellWidget,
    Breadcrumb,
    PageFilter,
    SimpleTableWrapper
    // TableRowInfo,
    // ValidationObserver
  },
  data() {
    return {
      search: getStringWithDefault("categoriesSearch", ""),
      loading: false,
      categories: [],
      totalCategoriesCount: 0,
      tableOptionsMenu: false,
      sortBy: getArrayWithDefault("categoriesTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("categoriesTableSortOrder", "asc"),
      denseTable: getBooleanWithDefault("categoriesListDenseTable", false),
      visibleColumns: getObjectWithDefault("categoriesTableVisibleColumns", {
        id: true,
        name: true,
        system: true,
        action: true
      }),
      page: getIntWithDefault("categoriesListPage", 1),
      rowsPerPage: getIntWithDefault("categoriesListRowsPerPage", 20)
    };
  },
  computed: {
    csLocale() {
      return csLocale;
    },
    allTableHeaders() {
      return allTableHeaders;
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    }
  },
  methods: {
    ...mapActions({ clearCategoriesInStore: "categories/clearCategories" }),
    distanceInWordsToNow,
    formatDate,
    createOne() {
      this.$emit("addEditDialogClose", this.addEditDialogModel);
    },
    onTableSortDescUpdate(desc) {
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "categoriesTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    closeAddEditDialog() {
      this.$emit("addEditDialogClose", null);
    },
    async editOne(item) {
      let data = await this.$addEditDialog.openAddEditDialog(item);
      if (data) {
        await CategoriesService.update(data);
        this.loadNow();
        this.clearCategoriesInStore();
      }
    },
    async addNew() {
      let data = await this.$addEditDialog.openAddEditDialog();
      if (data) {
        await CategoriesService.create(data);
        this.loadNow();
        this.clearCategoriesInStore();
      }
    },
    async confirmDelete(item) {
      let message = `Smazat kategorii "${item.name}?"`;
      if (item.plants_count > 0) {
        message = `Kategorie "${item.name}?" obsahuje ${item.plants_count} rostlin. Přesto smazat?`;
      }
      if (await this.$root.$confirm("Potvrzení", message)) {
        await CategoriesService.delete(item.id);
      }
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("categoriesTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadTags(filter, page, rowsPerPage) {
      let response = await CategoriesService.getTableData(
        filter,
        page,
        rowsPerPage
      );
      this.categories = response.rows;
      this.totalCategoriesCount = response.count;
    },
    loadNow() {
      this.loading = true;
      try {
        this.loadTags(
          {
            search: this.search,
            sortBy: this.sortBy,
            sortOrder: this.sortOrder
          },
          this.page,
          this.rowsPerPage
        );
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("categoriesSearch", JSON.stringify(newVal));
    },
    visibleColumns(newVal) {
      localStorage.setItem(
        "categoriesTableVisibleColumns",
        JSON.stringify(newVal)
      );
    }
  },
  mounted() {
    this.loadNow();
  }
};
</script>
