<template>
  <div>
    <breadcrumb name="Čeledi">
      <template v-slot:primaryAction>
        <v-btn small color="primary" @click="addNew">Vytvořit čeleď</v-btn>
      </template>
    </breadcrumb>
    <page-filter
      name="families-list-filter"
      :search.sync="search"
      :loading="loading"
      search-label="Hledaná čeleď"
      search-placeholder="Začněte psát..."
      Placeholder="Začni psát..."
      @requestSearch="loadNow"
      searchButtonLabel="Hledej"
    >
      <template v-slot:underSearchMiddle>
        <div v-if="families && totalFamiliesCount">
          {{ `Nalezeno ${totalFamiliesCount} čeledí` }}
        </div>
        <div v-if="families && !totalFamiliesCount">
          {{ `Nenalezeny žádné čeledi` }}
        </div>
      </template>
    </page-filter>
    <SimpleTableWrapper
      style="margin-top: 1rem;"
      label="Seznam čeledí"
      :loadin="loading"
      :totalCount="totalFamiliesCount"
      :rowsPerPage="rowsPerPage"
      :sort-by="sortBy"
      :page.sync="page"
      @load-request="loadNow"
      :all-table-headers="allTableHeaders"
      :dense-table.sync="denseTable"
      :visible-columns.sync="visibleColumns"
    >
      <template v-slot:table>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="families"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalFamiliesCount"
        >
          <template v-slot:item.name="{ item }">
            <highlighted-name-cell-widget
              :text="item.name"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.name_en="{ item }">
            <highlighted-name-cell-widget
              :text="item.name_en"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.name_lat="{ item }">
            <highlighted-name-cell-widget
              :text="item.name_lat"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.plants_count="{ item }">
            <div>
              <v-chip small v-if="item.plants_count > 4">{{
                `${item.plants_count} rostlin`
              }}</v-chip>
              <v-chip
                small
                v-if="item.plants_count > 1 && item.plants_count < 5"
                >{{ `${item.plants_count} rostliy` }}</v-chip
              >
              <v-chip small v-if="item.plants_count === 1">{{
                `${item.plants_count} rostlina`
              }}</v-chip>
              <span v-if="item.plants_count === 0">{{
                `Neoznačeny žádné rosltiny`
              }}</span>
            </div>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Editovat čeleď"
                @click="() => editOne(item)"
              >
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Smazat čeleď"
                @click="() => confirmDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </template>
    </SimpleTableWrapper>
    <add-edit-dialog>
      <template v-slot:fields="{ model }">
        <text-field-with-validation
          label="Jméno (Lat)"
          :counter="255"
          required
          rules="family-name-required|family-name-length:255"
          v-model="model.name_lat"
        ></text-field-with-validation>
        <text-field-with-validation
          label="Jméno (Cz)"
          :counter="255"
          rules="family-name-length:255"
          v-model="model.name"
        ></text-field-with-validation>
        <text-field-with-validation
          label="Jméno (Eng)"
          :counter="255"
          rules="family-name-length:255"
          v-model="model.name_en"
        ></text-field-with-validation>
      </template>
    </add-edit-dialog>
  </div>
</template>
<script>
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import PageFilter from "./../common/page-filter";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "../../util/local-storage";
import { FamiliesSerivce } from "./../../services/families";
import { mapActions } from "vuex";
import HighlightedNameCellWidget from "./../common/highlighted-text-cell-widget";
import { extend } from "vee-validate";
import { required, max } from "vee-validate/dist/rules";
import SimpleTableWrapper from "../common/simple-table-wrapper";
import TextFieldWithValidation from "../common/text-field-with-validation";
import AddEditDialog from "../common/add-edit-dialog";
extend("family-name-required", { ...required, message: "Jméno je povinné" });
extend("family-name-length", {
  ...max,
  message: "Max. délka jména čeledi je 255 znaků"
});

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Jméno (Cz)", sortable: true, value: "name" },
  { text: "Jméno (Eng)", sortable: true, value: "name_en" },
  { text: "Jméno (Lat)", sortable: true, value: "name_lat" },
  { text: "Použití", sortable: false, value: "plants_count" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

let debounceTimer;

export default {
  components: {
    AddEditDialog,
    TextFieldWithValidation,
    HighlightedNameCellWidget,
    Breadcrumb,
    PageFilter,
    SimpleTableWrapper
  },
  data() {
    return {
      search: getStringWithDefault("familiesSearch", ""),
      loading: false,
      families: [],
      totalFamiliesCount: 0,
      tableOptionsMenu: false,
      sortBy: getArrayWithDefault("familiesTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("familiesTableSortOrder", "asc"),
      denseTable: getBooleanWithDefault("familiesListDenseTable", false),
      visibleColumns: getObjectWithDefault("familiesTableVisibleColumns", {
        id: true,
        name: true,
        name_lat: true,
        name_en: true,
        system: true,
        action: true
      }),
      page: getIntWithDefault("familiesListPage", 1),
      rowsPerPage: getIntWithDefault("familiesListRowsPerPage", 20)
    };
  },
  computed: {
    allTableHeaders() {
      return allTableHeaders;
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    }
  },
  methods: {
    ...mapActions({ clearFamiliesInStore: "families/clearFamilies" }),
    createOne() {
      this.$emit("addEditDialogClose", this.addEditDialogModel);
    },
    onTableSortDescUpdate(desc) {
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "familiesTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    closeAddEditDialog() {
      this.$emit("addEditDialogClose", null);
    },
    async editOne(item) {
      let data = await this.$addEditDialog.openAddEditDialog(item);
      if (data) {
        await FamiliesSerivce.update(data);
        this.loadNow();
        this.clearFamiliesInStore();
      }
    },
    async addNew() {
      let data = await this.$addEditDialog.openAddEditDialog();
      if (data) {
        await FamiliesSerivce.create(data);
        this.loadNow();
        this.clearFamiliesInStore();
      }
    },
    async confirmDelete(item) {
      let message = `Smazat čeleď "${item.name_lat}/${item.name}?"`;
      if (item.plants_count > 0) {
        message = `Čeleď "${item.name_lat}/${item.name}?" obsahuje ${item.plants_count} rostlin. Přesto smazat?`;
      }
      if (await this.$root.$confirm("Potvrzení", message)) {
        await FamiliesSerivce.delete(item.id);
      }
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("familiesTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadTags(filter, page, rowsPerPage) {
      let response = await FamiliesSerivce.getTableData(
        filter,
        page,
        rowsPerPage
      );
      this.families = response.rows;
      this.totalFamiliesCount = response.count;
    },
    loadNow() {
      this.loading = true;
      try {
        this.loadTags(
          {
            search: this.search,
            sortBy: this.sortBy,
            sortOrder: this.sortOrder
          },
          this.page,
          this.rowsPerPage
        );
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("familiesSearch", JSON.stringify(newVal));
    },
    visibleColumns(newVal) {
      localStorage.setItem(
        "familiesTableVisibleColumns",
        JSON.stringify(newVal)
      );
    }
  },
  mounted() {
    this.loadNow();
  }
};
</script>
