<template>
  <div>
    <ValidationObserver v-slot="{ valid }" v-if="gallery">
      {{ valid }}
      <breadcrumb :crumbs="crumbs"></breadcrumb>
      <v-card>
        <v-card-text>
          <v-label>Základní nastavení</v-label>
          <br /><br />
          <text-field-with-validation
            v-model="gallery.name"
            :rules="'required|length:255'"
            filled
            dense
            background-color="#f9f9f9"
            :label="$t('Název')"
            counter="255"
          ></text-field-with-validation>
          <div style="display: flex; align-items: center;">
            <v-text-field
              v-model="gallery.code"
              readonly
              disabled
              label="Identifikátor"
            ></v-text-field>
            <div style="width:1rem;"></div>
            <v-btn @click="showIntegrateDialog">
              <v-icon>mdi-web</v-icon
              ><span style="margin-left: .5rem;">Integrace</span>
            </v-btn>
          </div>
          <div style="display:flex; width: 100%;">
            <div
              style="width: 50%;"
              :title="
                gallery.active ? 'Galerie je aktivní' : 'Galerie je neaktivní'
              "
            >
              <v-switch label="Aktivní" v-model="gallery.active"></v-switch>
            </div>
            <div
              style="width: 50%;"
              title="Systémovou galerii není možné smazat, jenom měnit její parametry."
            >
              <v-switch
                disabled
                readonly
                label="Systémová"
                v-model="gallery.system"
              ></v-switch>
            </div>
          </div>
        </v-card-text>
      </v-card>
      <br />
      <v-card>
        <v-card-text>
          <v-select
            filled
            disabled
            readonly
            v-model="gallery.type"
            label="Typ zobrazení"
            :items="galleryTypeItems"
          ></v-select>
          <br />
          <autocomplete-chips
            disabled
            readonly
            v-if="gallery.type === GALLERY_TYPE.BY_CATEGORY"
            v-model="gallery.filter.categories"
            :items="categories"
            label="Kategorie"
          ></autocomplete-chips>
          <autocomplete-chips
            disabled
            readonly
            v-if="gallery.type === GALLERY_TYPE.BY_TAG"
            v-model="gallery.filter.tags"
            :items="tags"
            label="Tagy"
          ></autocomplete-chips>
          <v-select
            :items="sortPlantsEelctItems"
            v-model="gallery.sort_plants_order"
            label="Řadit rostliny podle latinského názvu"
          ></v-select>
          <div style="display: flex;">
            <v-switch
              v-model="gallery.sort_by_category"
              label="Dále podle Kategorie"
            ></v-switch>
            <v-select
              style="margin-left: 1rem"
              v-show="gallery.sort_by_category"
              :items="sortPlantsEelctItems"
              v-model="gallery.sort_categories_order"
              label="Řadit kategorie podle názvu"
            ></v-select>
          </div>
          <v-switch
            v-model="gallery.show_category_headings"
            label="Zobrazovat kategorie"
            v-show="gallery.sort_by_category"
          ></v-switch>
        </v-card-text>
      </v-card>
      <br />
      <v-expansion-panels
        multiple
        v-if="
          sortedPlants &&
            sortedPlants.length &&
            (gallery.type === GALLERY_TYPE.BY_TAG ||
              gallery.type === GALLERY_TYPE.BY_CATEGORY)
        "
      >
        <v-expansion-panel :key="category.id" v-for="category in sortedPlants">
          <v-expansion-panel-header>
            {{ category.name }} - obsahuje {{ category.plants.length }} obrázků
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row v-if="category.plants">
              <v-col
                :key="`plant${plant.id}`"
                v-for="plant in category.plants"
                cols="3"
              >
                <plant-image-card
                  :ref="`plant_${plant.id}`"
                  :plant="plant"
                  :configuration.sync="gallery.plants"
                  @editRequested="onEditImageRequested"
                >
                  <template
                    v-slot:image="{ activeImageUrl, activeImageIdx, imageType }"
                  >
                    <v-img
                      :title="
                        activeImageIdx !== null
                          ? 'Aktivní obrázek'
                          : 'Chybějící obrázek'
                      "
                      :alt="
                        activeImageIdx !== null
                          ? 'Aktivní obrázek'
                          : 'Chybějící obrázek'
                      "
                      class="preview-image"
                      :src="activeImageUrl"
                    ></v-img>
                    <v-chip
                      :title="
                        imageType
                          ? 'Použije se vždy nejnovější obrázek'
                          : 'Použije se vybraný obrázek'
                      "
                      class="image-type-chip"
                      x-small
                      >{{ imageType === 0 ? "Poslední" : "Vybraný" }}</v-chip
                    >
                  </template>
                </plant-image-card>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <br />
      <br />
      <br />
      <actions-bar
        :is-new="isNew"
        :can-preview="false"
        :unsaved-changes="unsavedChanges"
        :valid="valid"
        @save-request="save"
        :can-delete="gallery && !gallery.system"
        @cancel-save-request="cancelSave"
        @delete-request="deleteMe"
        @preview-request="previewMe"
      ></actions-bar>
    </ValidationObserver>
    <pick-image-dialog ref="pickImageDialog"></pick-image-dialog>
    <integrate-dialog ref="integrateDialog"></integrate-dialog>
  </div>
</template>
<script>
import { ROUTES } from "@/routes";
import { mapActions, mapGetters } from "vuex";
import { extend, ValidationObserver, ValidationProvider } from "vee-validate";
import { isEqual } from "lodash-es";
import { cloneObject } from "@/util/common";
import { GalleriesService } from "@services/galleries";
import Breadcrumb from "@components/pages/plants-list/breadcrumb-with-action";
import ActionsBar from "@components/common/actions-bar";
import TextFieldWithValidation from "@components/common/text-field-with-validation";
import AutocompleteChips from "@components/common/autocomplete-chips";
import { getImagePreviewUrl } from "@/util/image";
import PlantImageCard from "./gallery/plant-image-card";
import PickImageDialog from "@components/pages/gallery/pick-image-dialog";
import { ArticlesService } from "@services/articles";
import IntegrateDialog from "@components/pages/gallery/integrate-dialog";
import localEventBus from './gallery/event-bus';

const GALERRY_TYPE = {
  BY_CATEGORY: 0,
  BY_TAG: 1
};

export default {
  data() {
    return {
      gallery: null,
      originalGallery: null,
      plantsById: {},
      sortedPlants: [],
      unsortedPlants: []
      // pickImageDialog: {
      //   visible: false,
      //   config: null,
      //   images: null
      // }
    };
  },
  components: {
    IntegrateDialog,
    PickImageDialog,
    AutocompleteChips,
    ValidationObserver,
    Breadcrumb,
    ActionsBar,
    TextFieldWithValidation,
    PlantImageCard
    // ValidationProvider
  },
  computed: {
    ...mapGetters({
      user: "user/user",
      webp: "app/webp",
      tags: "tags/tagsList",
      categories: "categories/categoriesById"
    }),
    GALLERY_TYPE() {
      return GALERRY_TYPE;
    },
    galleryTypeItems() {
      return [
        {
          text: "Všechny rostliny v kategorií",
          value: GALERRY_TYPE.BY_CATEGORY
        },
        { text: "Všechny rostliny označeny tagem", value: GALERRY_TYPE.BY_TAG }
      ];
    },
    sortPlantsEelctItems() {
      return [
        {
          text: "Vzestupně (a/z)",
          value: "asc"
        },
        { text: "Sestupně (z/a)", value: "desc" }
      ];
    },
    unsavedChanges() {
      return !isEqual(
        cloneObject(this.originalGallery),
        cloneObject(this.gallery)
      );
    },
    isNew() {
      return this.$route.params.id === "_";
    },
    crumbs() {
      return [
        { text: "Galerie", to: { name: ROUTES.GALLERIES_LIST } },
        {
          text: this.isNew
            ? this.$t("Nová galerie")
            : this.$t("Editace galerie"),
          disabled: true
        }
      ];
    },
    ROUTES() {
      return ROUTES;
    }
  },
  methods: {
    ...mapActions({
      loadCategories: "categories/loadCategories",
      loadTags: "tags/loadTags"
    }),
    async previewMe() {},
    async showIntegrateDialog() {
      await this.$refs.integrateDialog.show(this.gallery);
    },
    async onEditImageRequested(plant) {
      let result = await this.$refs.pickImageDialog.show(
        plant,
        this.gallery.plants[plant.id]
      );
      if (!result) {
        return;
      }
      let { type, activeImageId } = result;
      let newConfig = {};
      if (this.gallery.plants && this.gallery.plants[plant.id]) {
        newConfig = Object.assign(newConfig, this.gallery.plants[plant.id]);
      }
      if (type === 0) {
        newConfig.previewImages = null;
        this.gallery.plants[plant.id] = newConfig;
      } else {
        newConfig.previewImages = [activeImageId];
        this.gallery.plants[plant.id] = newConfig;
      }
      localEventBus.$emit(`confchange_${plant.id}`, this.gallery.plants);
    },
    sortPlants(plants) {
      let sorted = plants.slice();
      sorted.sort((a, b) => {
        let aSticky =
          this.gallery.plants[a.id] && this.gallery.plants[a.id].sticky;
        let bSticky =
          this.gallery.plants[b.id] && this.gallery.plants[b.id].sticky;
        if (aSticky && !bSticky) {
          return -1;
        }
        if (!aSticky && bSticky) {
          return 1;
        }
        let aName = a.name_lat;
        let bName = b.name_lat;
        if (this.gallery.sort_plants_order === "asc") {
          if (aName < bName) {
            return -1;
          }
          if (aName > bName) {
            return 1;
          }
        } else {
          if (aName < bName) {
            return 1;
          }
          if (aName > bName) {
            return -1;
          }
        }
        return 0;
      });
      return sorted;
    },
    updateGalleryItems(unsortedPlants) {
      if (this.gallery.sort_by_category) {
        let exitingCategories = [];
        for (let plant of unsortedPlants) {
          if (!exitingCategories.includes(plant.category_id)) {
            exitingCategories.push(plant.category_id);
          }
        }
        exitingCategories.sort((a, b) => {
          let aName = this.categories[a].name;
          let bName = this.categories[b].name;
          if (this.gallery.sort_categories_order === "asc") {
            if (aName < bName) {
              return -1;
            }
            if (aName > bName) {
              return 1;
            }
          } else {
            if (aName < bName) {
              return 1;
            }
            if (aName > bName) {
              return -1;
            }
          }
        });
        let sorted = exitingCategories.map(catId => {
          return {
            name: this.categories[catId].name,
            id: catId,
            plants: this.sortPlants(
              unsortedPlants.filter(plant => {
                return plant.category_id === catId;
              })
            )
          };
        });
        this.sortedPlants = sorted;
      } else {
        this.sortedPlants = [
          {
            name: "Všechny rostliny",
            id: null,
            plants: this.sortPlants(unsortedPlants)
          }
        ];
      }
    },
    async save() {
      this.processing = true;
      try {
        // if (this.isNew) {
        //   this.gallery = await GalleriesService.create(this.article);
        //   await this.$router.replace({ params: { id: this.article.id } });
        // } else {
        let gallery = await GalleriesService.update(this.gallery);
        // }
        //this.originalGallery = cloneObject(this.gallery);
        await this.afterGalleryLoaded(gallery);
      } catch (e) {
        console.error("Unable to save gallery", e);
        return;
      } finally {
        this.processing = false;
      }
    },
    async cancelSave() {
      if (this.unsavedChanges) {
        if (
          !(await this.$root.$confirm(
            "Potvrzení",
            "V galerií jsou neuložené změny. Opravdu zrušit?"
          ))
        ) {
          return;
        }
      }
      await this.$router.push({ name: ROUTES.GALLERIES_LIST });
    },
    async deleteMe() {
      if (this.gallery.system) {
        await this.$root.$info(
          "Upozornění",
          "Systémovou galerií není možné smazat."
        );
      }
      return;
    },
    async afterGalleryLoaded(gallery) {
      if (gallery.filter && gallery.filter.tags) {
        gallery.type = GALERRY_TYPE.BY_TAG;
      } else if (gallery.filter && gallery.filter.categories) {
        gallery.type = GALERRY_TYPE.BY_CATEGORY;
      }
      this.gallery = gallery;
      if (
        this.gallery.type === GALERRY_TYPE.BY_TAG ||
        this.gallery.type === GALERRY_TYPE.BY_CATEGORY
      ) {
        let plantsImages = await GalleriesService.getGalleryPlantsWithImages(
          this.gallery.filter
        );
        let plantsImagesByPlantId = {};
        for (let i = 0; i < plantsImages.length; i++) {
          let plant = plantsImages[i];
          plantsImagesByPlantId[plant.id] = plant;
        }
        this.plantsById = plantsImagesByPlantId;
        this.unsortedPlants = plantsImages;
        this.updateGalleryItems(plantsImages);
      }
      this.originalGallery = cloneObject(this.gallery);
    }
  },
  watch: {
    gallery: {
      deep: true,
      handler(newVal) {
        setTimeout(() => {
          this.updateGalleryItems(this.unsortedPlants);
        });
      }
    }
  },
  async mounted() {
    await this.loadCategories();
    await this.loadTags();
    let gallery = await GalleriesService.get(this.$route.params.id);
    await this.afterGalleryLoaded(gallery);
  }
};
</script>
<style lang="scss" scoped>
.edit-plant-button {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.preview-image {
  height: 250px;
  border-radius: 4px 4px 0 0;
}

.image-type-chip {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
</style>
