<template>
  <div>
    <breadcrumb name="Galerie">
      <template v-slot:primaryAction>
        <v-btn
          small
          color="primary"
          :to="{ name: ROUTES.GALLERY_EDIT, params: { id: '_' } }"
          >Vytvořit galerii</v-btn
        >
      </template>
    </breadcrumb>
    <page-filter
      name="galleries-list-filter"
      :search.sync="search"
      :loading="loading"
      :search-label="$t('search')"
      search-placeholder="Začněte psát..."
      @requestSearch="loadNow"
      :searchButtonLabel="$t('search')"
    >
      <template v-slot:underSearchMiddle>
        <div v-if="galleries">
          {{ $tc("foundGalleries", totalGalleriesCount) }}
        </div>
      </template>
    </page-filter>
    <SimpleTableWrapper
      style="margin-top: 1rem;"
      :label="$t('Seznam galerií')"
      :loadin="loading"
      :totalCount="totalGalleriesCount"
      :rowsPerPage.sync="rowsPerPage"
      :sort-by="sortBy"
      :page.sync="page"
      @load-request="loadNow"
      :all-table-headers="allTableHeaders"
      :dense-table.sync="denseTable"
      :visible-columns.sync="visibleColumns"
    >
      <template v-slot:table>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="galleries"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalGalleriesCount"
        >
          <template v-slot:no-data>
            {{ $t("Nenalezeny žádné galerie") }}
          </template>
          <template v-slot:item.created_at="{ item }">
            <date-time-cell-widget
              :date="item.created_at"
            ></date-time-cell-widget>
          </template>
          <template v-slot:item.name="{ item }">
            <highlighted-name-cell-widget
              :text="item.name"
              :search="search"
            ></highlighted-name-cell-widget>
          </template>
          <template v-slot:item.total_views="{ item }">
            <div :title="$t('Vzhédnutí celkově')">{{ item.total_views }}</div>
          </template>
          <template v-slot:item.filter="{ item }">
            <gallery-type-cell-widget :item="item"></gallery-type-cell-widget>
          </template>
          <template v-slot:item.updated_at="{ item }">
            <date-time-cell-widget
              :date="item.updated_at"
            ></date-time-cell-widget>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <v-btn
                small
                icon
                title="Editovat galerii"
                :to="{ name: ROUTES.GALLERY_EDIT, params: { id: item.id } }"
              >
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!item.system"
                small
                icon
                :title="$t('Smazat galerii')"
                @click="() => confirmDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </template>
    </SimpleTableWrapper>
  </div>
</template>
<script>
import Breadcrumb from "@components/pages/plants-list/breadcrumb-with-action";
import PageFilter from "@components/common/page-filter";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "@/util/local-storage";
import { GalleriesService } from "@services/galleries";
import SimpleTableWrapper from "@components/common/simple-table-wrapper";
import HighlightedNameCellWidget from "@components/common/highlighted-text-cell-widget";
import { ROUTES } from "@/routes";
import DateTimeCellWidget from "@components/common/date-time-cell-widget";
import GalleryTypeCellWidget from "@components/pages/gallery-list/gallery-type-cell-widget";
import { mapActions, mapGetters } from "vuex";

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Název", sortable: true, value: "name" },
  { text: "Vytvořen", sortable: true, value: "created_at" },
  { text: "Změněn", sortable: true, value: "updated_at" },
  { text: "Vzhlédnutí", sortable: false, value: "total_views" },
  { text: "Typ", sortable: false, value: "filter" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

let debounceTimer;

export default {
  components: {
    DateTimeCellWidget,
    Breadcrumb,
    PageFilter,
    HighlightedNameCellWidget,
    SimpleTableWrapper,
    GalleryTypeCellWidget
  },
  data() {
    return {
      search: getStringWithDefault("galleriesSearch", ""),
      loading: false,
      galleries: [],
      totalGalleriesCount: 0,
      tableOptionsMenu: false,
      sortBy: getArrayWithDefault("galleriesTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("galleriesTableSortOrder", "asc"),
      denseTable: getBooleanWithDefault("galleriesListDenseTable", false),
      visibleColumns: getObjectWithDefault("galleriesTableVisibleColumns", {
        id: true,
        name: true,
        filter: true,
        created_at: true,
        updated_at: true,
        action: true
      }),
      page: getIntWithDefault("galleriesListPage", 1),
      rowsPerPage: getIntWithDefault("galleriesListRowsPerPage", 20)
    };
  },
  computed: {
    allTableHeaders() {
      return [
        { text: "#", sortable: true, value: "id", hidden: true },
        { text: this.$t("Název"), sortable: true, value: "name" },
        { text: this.$t("Vytvořen"), sortable: true, value: "created_at" },
        { text: this.$t("Změněn"), sortable: true, value: "updated_at" },
        { text: this.$t("Vzhlédnutí"), sortable: false, value: "total_views" },
        { text: this.$t("Typ"), sortable: false, value: "filter" },
        {
          text: this.$t("Akce"),
          value: "action",
          sortable: false,
          align: "right"
        }
      ];
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    },
    ROUTES() {
      return ROUTES;
    }
  },
  methods: {
    onTableSortDescUpdate(desc) {
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "galleriesTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    async confirmDelete(item) {
      let message = `Smazat galerií "${item.name}?"`;
      if (await this.$root.$confirm("Potvrzení", message)) {
        await GalleriesService.delete(item.id);
      }
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("galleriesTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadData(filter, page, rowsPerPage) {
      let response = await GalleriesService.getTableData(
        filter,
        page,
        rowsPerPage
      );
      this.galleries = response.rows;
      this.totalGalleriesCount = response.count;
    },
    loadNow() {
      this.loading = true;
      try {
        this.loadData(
          {
            search: this.search,
            sortBy: this.sortBy,
            sortOrder: this.sortOrder
          },
          this.page,
          this.rowsPerPage
        );
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("galleriesSearch", JSON.stringify(newVal));
    },
    visibleColumns(newVal) {
      localStorage.setItem(
        "galleriesTableVisibleColumns",
        JSON.stringify(newVal)
      );
    }
  },
  async mounted() {
    await this.loadNow();
  }
};
</script>
