<template>
  <div>
    <v-container fluid>
      <div class="title">Registr rostlin</div>
      <v-row>
        <v-col
          :key="`widget_${idx}`"
          cols="3"
          v-for="(widget, idx) in registryWidgets"
        >
          <component :is="widget"></component>
        </v-col>
      </v-row>
    </v-container>
    <v-divider></v-divider>
    <v-container fluid>
      <div class="title">Veřejný web</div>
      <v-row>
        <v-col
          :key="`widget_${idx}`"
          cols="3"
          v-for="(widget, idx) in publicWebWidgets"
        >
          <component :is="widget"></component>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import PlantService from "../../services/plants";
import PlantsWidget from "./home/plants-widget";
import TagsWidget from "./home/tags-widget";
import FamiliesWidget from "./home/families-widget";
import AuthorsWidget from "./home/authors-widget";
import ArticlesWidget from "./home/articles-widget";
import draggable from "vuedraggable";
import CategoriesWidget from "./home/categories-widget";
import { ROUTES } from "./../../routes";
export default {
  data() {
    return {
      drag: false,
      plantsCount: null,
      registryWidgets: [
        "PlantsWidget",
        "TagsWidget",
        "CategoriesWidget",
        "AuthorsWidget",
        "FamiliesWidget"
      ],
      publicWebWidgets: ["ArticlesWidget"]
    };
  },
  components: {
    PlantsWidget,
    TagsWidget,
    CategoriesWidget,
    AuthorsWidget,
    FamiliesWidget,
    ArticlesWidget,
    draggable
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await PlantService.getTableData({}, 1, 1);
    this.plantsCount = result.count;
  }
};
</script>
<style type="scss" scoped>
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
</style>
