<template>
  <div>
    <breadcrumb :crumbs="crumbs"></breadcrumb>
    <v-card>
      <v-card-text>
        <div style="font-weight: bold; font-size: 1.1rem;">
          Dnes otevřeno
        </div>
        <br />
        <div style="display: flex;">
          <div>
            <v-switch
              v-model="todayOpen"
              :label="todayOpen ? $t('Otevřeno') : $t('Zavřeno')"
            ></v-switch>
          </div>
          <div style="margin-left: 1rem;">
            <time-range-picker
              :disabled="!todayOpen"
              v-if="range"
              :range.sync="range"
            ></time-range-picker>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <br />
    <br />
    <actions-bar
      :is-new="false"
      :unsaved-changes="unsavedChanges"
      :valid="true"
      @save-request="save"
      :can-cancel="false"
      :can-delete="false"
    ></actions-bar>
  </div>
</template>
<script>
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import TimeRangePicker from "../common/time-range-picker";
import ActionsBar from "../common/actions-bar";
import OpeningHoursService from "../../services/opening-hours";
import { isEqual } from "lodash-es";
import { cloneObject } from "../../util/common";
export default {
  components: {
    TimeRangePicker,
    Breadcrumb,
    ActionsBar
  },
  data() {
    return {
      range: null,
      todayOpen: false,
      originalModel: null
    };
  },
  computed: {
    crumbs() {
      return [{ text: "Otevírací hodiny" }];
    },
    unsavedChanges() {
      return !isEqual(
        cloneObject(this.originalModel),
        cloneObject({ ...this.range, open: this.todayOpen })
      );
    }
  },
  methods: {
    async save() {
      let response = await OpeningHoursService.update(
        this.range.from,
        this.range.to,
        this.todayOpen
      );
      this.originalModel = cloneObject(response);
    }
  },
  async mounted() {
    let response = await OpeningHoursService.get();
    this.range = { from: response.from, to: response.to };
    this.todayOpen = response.open;
    this.originalModel = cloneObject(response);
  }
};
</script>
<style lang="scss" scoped>
.card-title {
  font-size: 2rem;
  font-weight: bold;
}
</style>
