<template>
  <div>
    <breadcrumb name="Rostliny">
      <template v-slot:primaryAction>
        <v-btn
          small
          color="primary"
          @click="
            () => (window.location = `${VUE_APP_DOMAIN}/plants/_`)
          "
          >Vytvořit rostlinu</v-btn
        >
      </template>
    </breadcrumb>
    <page-filter
      name="plants-list-filter"
      :search.sync="search"
      :showMoreFilter="showMoreFilter"
      :loading="loading"
      search-label="Hledaná rostlina"
      search-placeholder=""
      Placeholder="Začni psát..."
      @requestSearch="loadNow"
      searchButtonLabel="Hledej"
      @showMoreToggle="toggleMoreFilterOptions"
    >
      <template v-slot:underSearchLeft>
        <v-switch
          v-model="mapVisible"
          hide-details
          inset
          dense
          label="Zobrazit mapu"
          style="margin-top: 0;"
        ></v-switch>
      </template>
      <template v-slot:underSearchMiddle>
        <div v-if="plants && totalPlantsCount">
          {{ `Nalezeno ${totalPlantsCount} rostlin` }}
        </div>
        <div v-if="plants && !totalPlantsCount">
          {{ `Nenalezeny žádné rostliny` }}
        </div>
      </template>
      <template v-slot:detailedFilter>
        <categories-autocomplete
          :selectedCategories.sync="selectedCategories"
        ></categories-autocomplete>
        <!-- TODO rest of autocompletes -->
        <v-autocomplete
          style="z-index: 1000;"
          label="Tagy"
          v-model="selectedTags"
          :items="tags"
          chips
          multiple
          item-text="name"
          item-value="id"
        >
          <template v-slot:selection="data">
            <v-chip
              v-bind="data.attrs"
              :input-value="data.selected"
              close
              @click="data.select"
              @click:close="removeTag(data.item)"
            >
              {{ data.item.name }}
            </v-chip>
          </template>
        </v-autocomplete>
        <v-autocomplete
          style="z-index: 1000;"
          label="Čeledi"
          v-model="selectedFamilies"
          :items="families"
          chips
          multiple
          item-text="listName"
          item-value="id"
        >
          <template v-slot:selection="data">
            <v-chip
              v-bind="data.attrs"
              :input-value="data.selected"
              close
              @click="data.select"
              @click:close="removeFamily(data.item)"
            >
              {{ data.item.name }}
            </v-chip>
          </template>
        </v-autocomplete>
        <v-autocomplete
          style="z-index: 1000;"
          label="Autoři"
          v-model="selectedAuthors"
          :items="authors"
          chips
          multiple
          item-text="name"
          item-value="id"
        >
          <template v-slot:selection="data">
            <v-chip
              v-bind="data.attrs"
              :input-value="data.selected"
              close
              @click="data.select"
              @click:close="removeAuthor(data.item)"
            >
              {{ data.item.name }}
            </v-chip>
          </template>
        </v-autocomplete>
      </template>
    </page-filter>
    <transition name="fade">
      <v-card v-if="mapVisible" style="margin-top: 1rem;">
        <v-card-text v-if="appSettings">
          <simple-map
            :markers="markers"
            :gardenTileLayerVisible="gardenTileLayerVisible"
            :lat="appSettings.adminMapCenterLat"
            :lng="appSettings.adminMapCenterLon"
            :zoom="18"
            :max-bounds="[
              [50.0689551446, 14.4179141521],
              [50.0733622808, 14.4247806072]
            ]"
          >
            <template v-slot:legend="slotProps">
              <marker-hover-popup
                :marker="slotProps.marker"
              ></marker-hover-popup>
            </template>
          </simple-map>
          <div style="display: flex; align-items: center;">
            <v-switch
              v-model="gardenTileLayerVisible"
              hide-details
              inset
              dense
              label="Zobrazit podrobnou mapu zahrady"
              style="margin-top: .5rem;"
            ></v-switch>
            <v-spacer></v-spacer>
            <v-btn text @click="hideMap">Zavřít mapu</v-btn>
          </div>
        </v-card-text>
      </v-card>
    </transition>
    <v-card style="margin-top: 1rem;">
      <v-card-text>
        <div
          style="display: flex; align-items: center; justify-content: space-between; width: 100%;"
        >
          <div class="display-1">{{ $t("Seznam rostlin") }}</div>
          <div>
            <v-btn :disabled="loading" :loading="loading" icon @click="loadNow">
              <v-icon :title="$t('Znovu načíst')">mdi-reload</v-icon>
            </v-btn>
            <v-menu
              z-index="1500"
              :close-on-content-click="false"
              v-model="tableOptionsMenu"
              offset-y
            >
              <template v-slot:activator="{ on }">
                <v-btn icon>
                  <v-icon :title="$t('Možnosti zobrazení')" v-on="on"
                    >mdi-settings</v-icon
                  >
                </v-btn>
              </template>
              <v-card>
                <v-card-text>
                  <v-switch
                    hide-details
                    inset
                    v-model="denseTable"
                    dense
                    label="Kompaktní zobrazení"
                    style="margin: 0 0 .5rem .5rem;"
                  ></v-switch>
                  <v-divider></v-divider>
                  <div style="margin-top: .5rem;">Zobrazovat sloupce:</div>
                  <v-list>
                    <v-list-item
                      :key="`table_header_${col.value}`"
                      v-for="col in allTableHeaders"
                    >
                      <v-switch
                        hide-details
                        inset
                        v-model="visibleColumns[col.value]"
                        dense
                        :label="col.text"
                      ></v-switch>
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-menu>
          </div>
        </div>
        <div v-if="totalPlantsCount > 0">
          <table-row-info
            class="plants-table"
            :page="page"
            :total-count="totalPlantsCount"
            :rows-per-page="rowsPerPage"
          ></table-row-info>
        </div>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="plants"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalPlantsCount"
        >
          <template v-slot:item.modified_date="{ item }">
            <date-time-cell-widget
              :date="item.modified_date"
            ></date-time-cell-widget>
          </template>
          <template v-slot:item.created_date="{ item }">
            <date-time-cell-widget
              :date="item.created_date"
            ></date-time-cell-widget>
          </template>
          <template v-slot:item.category_name="{ item }">
            <non-wrap-ellipsis-text
              :text="item.category_name"
            ></non-wrap-ellipsis-text>
          </template>
          <template v-slot:item.name="{ item }">
            <name-cell-widget
              :text="item.name"
              :search="search"
            ></name-cell-widget>
          </template>
          <template v-slot:item.name_en="{ item }">
            <name-cell-widget
              :text="item.name_en"
              :search="search"
            ></name-cell-widget>
          </template>
          <template v-slot:item.name_lat="{ item }">
            <name-cell-widget
              :text="item.name_lat"
              :search="search"
            ></name-cell-widget>
          </template>
          <template v-slot:item.family_name="{ item }">
            <non-wrap-ellipsis-text
              :text="item.family_name"
            ></non-wrap-ellipsis-text>
          </template>
          <template v-slot:item.family_name_lat="{ item }">
            <non-wrap-ellipsis-text
              :text="item.family_name_lat"
            ></non-wrap-ellipsis-text>
          </template>
          <template v-slot:item.is_active="{ item }">
            <published-cell-widget
              :item="item"
              @save="savePublishedState"
            ></published-cell-widget>
          </template>
          <template v-slot:item.tags="{ item }">
            <tags-cell-widget :item="item" @save="saveTags"></tags-cell-widget>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <a
                style="color: rgba(0,0,0,0);"
                @click="
                  () =>
                    window.open(`${VUE_APP_DOMAIN}/plants/${item.id}`, '_self')
                "
              >
                <v-btn small icon title="Editovat rostlinu">
                  <v-icon>
                    mdi-pencil
                  </v-icon>
                </v-btn>
              </a>
              <v-btn
                small
                icon
                title="Smazat rostlinu"
                @click="() => confirmPlantDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
          <template v-slot:no-data>
            <br /><br />
            <div>Nenašli se žádná data</div>
            <br /><br />
          </template>
        </v-data-table>
        <div
          style="display: flex; align-items: center;"
          v-if="totalPlantsCount > 0"
        >
          <table-row-info
            :page="page"
            :total-count="totalPlantsCount"
            :rows-per-page="rowsPerPage"
          ></table-row-info>
          <v-spacer></v-spacer>
          <div>
            <v-pagination
              :disabled="loading"
              @input="loadNow"
              v-model="page"
              :length="Math.ceil(totalPlantsCount / rowsPerPage)"
              :page="page"
              :total-visible="10"
            ></v-pagination>
          </div>
          <div style="display: flex; align-items: center;">
            <div>Řádku na stránku</div>
            <v-select
              :disabled="loading"
              dense
              v-model="rowsPerPage"
              style="max-width: 4rem; margin-left: 1rem;"
              :items="[10, 20, 50, 100]"
              @change="onRowsPerPageChanged"
            ></v-select>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { PlantService } from "./../../services/plants";
import SimpleMap from "./../common/map";
import Plants from "./../../services/plants";
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import PageFilter from "../common/page-filter";
import CategoriesAutocomplete from "../common/categories-autocomplete";
import NameCellWidget from "./../common/highlighted-text-cell-widget";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "../../util/local-storage";
import MarkerHoverPopup from "./plants-list/marker-hover-popup";
import TableRowInfo from "../common/table-row-info";
import PublishedCellWidget from "./plants-list/published-cell-widget";
import TagsCellWidget from "./plants-list/tags-cell-widget";
import NonWrapEllipsisText from "../common/non-wrap-ellipsis-text";
import DateTimeCellWidget from "../common/date-time-cell-widget";

let debounceTimer;

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Kategorie", sortable: false, value: "category_name" },
  { text: "Jméno (CZ)", sortable: true, value: "name" },
  { text: "Jméno (EN)", sortable: true, value: "name_en" },
  { text: "Jméno (LAT)", sortable: true, value: "name_lat" },
  { text: "Čeleď (CZ)", sortable: false, value: "family_name" },
  { text: "Čeleď (LAT)", sortable: false, value: "family_name_lat" },
  { text: "Tagy", sortable: false, value: "tags", width: "1" },
  { text: "Publikováno", sortable: true, value: "is_active", width: "1" },
  { text: "Upraveno", sortable: true, value: "modified_date" },
  { text: "Vytvořeno", sortable: true, value: "created_date" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

export default {
  components: {
    DateTimeCellWidget,
    NonWrapEllipsisText,
    TagsCellWidget,
    PublishedCellWidget,
    Breadcrumb,
    TableRowInfo,
    SimpleMap,
    MarkerHoverPopup,
    PageFilter,
    CategoriesAutocomplete,
    NameCellWidget
  },
  data() {
    return {
      search: getStringWithDefault("plantsSearch", ""),
      mapVisible: getBooleanWithDefault("plantsListMapVisible", true),
      showMoreFilter: getBooleanWithDefault("plantsListShowMoreFilter", false),
      denseTable: getBooleanWithDefault("plantsListDenseTable", false),
      sortBy: getArrayWithDefault("plantsTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("plantsTableSortOrder", "asc"),
      visibleColumns: getObjectWithDefault("plantsTableVisibleColumns", {
        id: true,
        category_name: true,
        name: true,
        name_en: true,
        name_lat: true,
        family_name: true,
        family_name_lat: true,
        tags: true,
        is_active: true,
        action: true
      }),
      publishedEditDialogOpen: false,
      gardenTileLayerVisible: getBooleanWithDefault(
        "plantsListGardenTileLayerVisible",
        true
      ),
      tableOptionsMenu: false,
      selectedCategories: getArrayWithDefault(
        "plantsTableSelectedCategories",
        []
      ),
      selectedTags: getArrayWithDefault("plantsTableSelectedTags", []),
      selectedFamilies: getArrayWithDefault("plantsTableSelectedFamilies", []),
      selectedAuthors: getArrayWithDefault("plantsTableSelectedAuthors", []),
      page: getIntWithDefault("plantsListPage", 1),
      rowsPerPage: getIntWithDefault("plantsListRowsPerPage", 20),
      markers: [],
      loading: false,
      plants: [],
      totalPlantsCount: 0
    };
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ...mapGetters({
      categories: "categories/categoriesList",
      tags: "tags/tagsList",
      appSettings: "app/settings",
      authors: "authors/authorsList",
      families: "families/familiesList"
    }),
    allTableHeaders() {
      return allTableHeaders;
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    }
  },
  methods: {
    ...mapActions({
      loadCategories: "categories/loadCategories",
      loadTags: "tags/loadTags",
      loadAuthors: "authors/loadAuthors",
      loadFamilies: "families/loadFamilies"
    }),
    hideMap() {
      this.mapVisible = false;
    },
    async confirmPlantDelete(plant) {
      if (
        await this.$root.$confirm("Potvrzení", `Smazat rostlinu ${plant.name}?`)
      ) {
        await PlantService.delete(plant.id);
      }
      this.loadNow();
    },
    getTagsCount(tags) {
      let count = tags.length;
      if (this.isBlooming(tags)) {
        count--;
      }
      if (this.bearingFruits(tags)) {
        count--;
      }
      if (count === tags.length) {
        return `${count} ${count < 5 ? "tagy" : "tagů"}`;
      }
      if (count > 0) {
        return `+ ${count} ${count < 5 ? "další" : "dalších"}`;
      }
    },
    async saveTags(item) {
      this.savePublishedState(item);
    },
    async savePublishedState(item) {
      let itemIdx = null;
      for (let i = 0; i < this.plants.length; i++) {
        if (this.plants[i].id === item.id) {
          itemIdx = i;
        }
      }
      this.plants.splice(
        itemIdx,
        1,
        Object.assign({}, item, { loading: true })
      );
      item.loading = true;
      console.log("Saving state for " + item.id + ", state: " + item.is_active);
      try {
        let savedPlant = await Plants.update(item);
        // await wait(1100);
        this.plants.splice(
          itemIdx,
          1,
          Object.assign({}, savedPlant, { loading: true })
        );
      } catch (e) {
        console.error("Unable to save plant", e);
      } finally {
        this.plants.splice(
          itemIdx,
          1,
          Object.assign({}, this.plants[itemIdx], { loading: false })
        );
      }
    },
    toggleMoreFilterOptions() {
      this.showMoreFilter = !this.showMoreFilter;
      if (!this.showMoreFilter) {
        this.selectedTags = [];
        this.selectedCategories = [];
        this.selectedFamilies = [];
        this.selectedAuthors = [];
      }
    },
    clearSearch() {
      this.search = "";
    },
    bearingFruits(tags) {
      for (let i = 0; i < tags.length; i++) {
        if (tags[i].id === 185) {
          return true;
        }
      }
      return false;
    },
    isBlooming(tags) {
      for (let i = 0; i < tags.length; i++) {
        if (tags[i].id === 11) {
          return true;
        }
      }
      return false;
    },
    onRowsPerPageChanged() {
      this.loadNow();
    },
    removeTag(itemToRemove) {
      for (let i = 0; i < this.selectedTags.length; i++) {
        if (itemToRemove.id === this.selectedTags[i]) {
          this.selectedTags.splice(i, 1);
        }
      }
    },
    removeCategory(itemToRemove) {
      for (let i = 0; i < this.selectedCategories.length; i++) {
        if (itemToRemove.id === this.selectedCategories[i]) {
          this.selectedCategories.splice(i, 1);
        }
      }
    },
    removeAuthor(itemToRemove) {
      for (let i = 0; i < this.selectedAuthors.length; i++) {
        if (itemToRemove.id === this.selectedAuthors[i]) {
          this.selectedAuthors.splice(i, 1);
        }
      }
    },
    removeFamily(itemToRemove) {
      for (let i = 0; i < this.selectedFamilies.length; i++) {
        if (itemToRemove.id === this.selectedFamilies[i]) {
          this.selectedFamilies.splice(i, 1);
        }
      }
    },
    async loadMarkers(filter, page, rowsPerPage) {
      let response = await Plants.getMapMarkers(
        filter,
        page,
        //TODO: awful!! rework
        999999999
      );
      this.markers = response.rows;
    },
    onTableSortDescUpdate(desc) {
      console.log("desc?", desc);
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "plantsTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("plantsTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadPlants(filter, page, rowsPerPage) {
      let response = await Plants.getTableData(
        filter,
        page,
        //TODO: awful!! rework
        rowsPerPage
      );
      this.plants = response.rows;
      this.totalPlantsCount = response.count;
    },
    async loadNow() {
      this.loading = true;
      try {
        await Promise.all([
          this.loadMarkers(
            {
              search: this.search,
              tags: this.selectedTags,
              categories: this.selectedCategories,
              families: this.selectedFamilies,
              authors: this.selectedAuthors,
              sortBy: this.sortBy,
              sortOrder: this.sortOrder
            },
            this.page,
            this.rowsPerPage
          ),
          this.loadPlants(
            {
              search: this.search,
              tags: this.selectedTags,
              categories: this.selectedCategories,
              families: this.selectedFamilies,
              authors: this.selectedAuthors,
              sortBy: this.sortBy,
              sortOrder: this.sortOrder
            },
            this.page,
            this.rowsPerPage
          )
        ]);
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("plantsSearch", JSON.stringify(newVal));
    },
    denseTable(newVal) {
      localStorage.setItem("plantsListDenseTable", JSON.stringify(newVal));
    },
    mapVisible(newVal) {
      localStorage.setItem("plantsListMapVisible", JSON.stringify(newVal));
    },
    selectedFamilies(newVal) {
      this.load();
      localStorage.setItem(
        "plantsTableSelectedFamilies",
        JSON.stringify(newVal)
      );
    },
    selectedAuthors(newVal) {
      this.load();
      localStorage.setItem("plantsTableSelectedAuthor", JSON.stringify(newVal));
    },
    selectedTags(newVal) {
      this.load();
      localStorage.setItem("plantsTableSelectedTags", JSON.stringify(newVal));
    },
    selectedCategories(newVal) {
      this.load();
      localStorage.setItem(
        "plantsTableSelectedCategories",
        JSON.stringify(newVal)
      );
    },
    showMoreFilter(newVal) {
      localStorage.setItem("plantsListShowMoreFilter", JSON.stringify(newVal));
    },
    visibleColumns(newVal) {
      localStorage.setItem("plantsTableVisibleColumns", JSON.stringify(newVal));
    },
    gardenTileLayerVisible(newVal) {
      localStorage.setItem(
        "plantsListGardenTileLayerVisible",
        JSON.stringify(newVal)
      );
    }
  },
  async mounted() {
    if (!this.categories) {
      await this.loadCategories();
    }
    if (!this.tags) {
      await this.loadTags();
    }
    if (!this.authors) {
      await this.loadAuthors();
    }
    if (!this.families) {
      await this.loadFamilies();
    }
    await this.loadNow();
  }
};
</script>
<style lang="scss" scoped>
.wrap-letters-overflow {
  word-break: break-all;
  overflow: hidden;
  height: 1.1rem;
}
</style>
