<template>
  <div>
    <breadcrumb name="Tagy">
      <template v-slot:primaryAction>
        <v-btn small color="primary" @click="addNew">Vytvořit tag</v-btn>
      </template>
    </breadcrumb>
    <page-filter
      name="tags-list-filter"
      :search.sync="search"
      :loading="loading"
      search-label="Hledanej tag"
      search-placeholder="Začni psát..."
      Placeholder="Začni psát..."
      @requestSearch="loadNow"
      searchButtonLabel="Hledej"
    >
      <template v-slot:underSearchMiddle>
        <div v-if="tags && totalTagsCount">
          {{ `Nalezeno ${totalTagsCount} tagů` }}
        </div>
        <div v-if="tags && !totalTagsCount">
          {{ `Nenalezeny žádné tagy` }}
        </div>
      </template>
    </page-filter>
    <v-card style="margin-top: 1rem;">
      <v-card-text>
        <div
          style="display: flex; align-items: center; justify-content: space-between; width: 100%;"
        >
          <div class="display-1">Seznam tagů</div>
          <div>
            <v-btn :disabled="loading" :loading="loading" icon @click="loadNow">
              <v-icon title="Znovu načíst">mdi-reload</v-icon>
            </v-btn>
            <v-menu
              z-index="1500"
              :close-on-content-click="false"
              v-model="tableOptionsMenu"
              offset-y
            >
              <template v-slot:activator="{ on }">
                <v-btn icon>
                  <v-icon title="Možnosti zobrazení" v-on="on"
                    >mdi-settings
                  </v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-text>
                  <v-switch
                    hide-details
                    inset
                    v-model="denseTable"
                    dense
                    label="Kompaktní zobrazení"
                    style="margin: 0 0 .5rem .5rem;"
                  ></v-switch>
                  <v-divider></v-divider>
                  <div style="margin-top: .5rem;">Zobrazovat sloupce:</div>
                  <v-list>
                    <v-list-item
                      :key="`table_header_${col.value}`"
                      v-for="col in allTableHeaders"
                    >
                      <v-switch
                        hide-details
                        inset
                        v-model="visibleColumns[col.value]"
                        dense
                        :label="col.text"
                      ></v-switch>
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-menu>
          </div>
        </div>
        <div v-if="totalTagsCount > 0">
          <table-row-info
            class="plants-table"
            :page="page"
            :total-count="totalTagsCount"
            :rows-per-page="rowsPerPage"
          ></table-row-info>
        </div>
        <v-data-table
          :dense="denseTable"
          :loading="loading"
          :must-sort="true"
          :calculate-widths="true"
          :sort-by="sortBy"
          :sort-desc="sortOrder === 'desc' ? [true] : [false]"
          :hide-default-footer="true"
          :headers="tableHeaders"
          :items="tags"
          @update:sort-by="onTableSortByUpdate"
          @update:sort-desc="onTableSortDescUpdate"
          :server-items-length="totalTagsCount"
        >
          <template v-slot:item.system="{ item }">
            <v-chip
              small
              v-if="item.system"
              color="gray"
              title="Systémové tagy jsou pouze pro čtení a nedaji se měnit nebo smazat."
              >Systémový
            </v-chip>
          </template>
          <template v-slot:item.name="{ item }">
            <tag-name-cell-widget
              :text="item.name"
              :search="search"
            ></tag-name-cell-widget>
          </template>
          <template v-slot:item.plants_count="{ item }">
            <div>
              <span v-if="item.plants_count > 4">{{
                `Označeno ${item.plants_count} rostlin`
              }}</span>
              <span v-if="item.plants_count > 1 && item.plants_count < 5">{{
                `Označeny ${item.plants_count} rostliy`
              }}</span>
              <span v-if="item.plants_count === 1">{{
                `Označena ${item.plants_count} rostlina`
              }}</span>
              <span v-if="item.plants_count === 0">{{
                `Neoznačeny žádné rosltiny`
              }}</span>
            </div>
          </template>
          <template v-slot:item.action="{ item }">
            <div
              style="display: flex; flex-wrap: nowrap; justify-content: flex-end;"
            >
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Editovat tag"
                @click="() => editOne(item)"
              >
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                v-if="!item.system"
                small
                icon
                title="Smazat tag"
                @click="() => confirmDelete(item)"
              >
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
        <div
          style="display: flex; align-items: center;"
          v-if="totalTagsCount > 0"
        >
          <table-row-info
            :page="page"
            :total-count="totalTagsCount"
            :rows-per-page="rowsPerPage"
          ></table-row-info>
          <v-spacer></v-spacer>
          <div>
            <v-pagination
              :disabled="loading"
              @input="loadNow"
              v-model="page"
              :length="Math.ceil(totalTagsCount / rowsPerPage)"
              :page="page"
              :total-visible="10"
            ></v-pagination>
          </div>
          <div style="display: flex; align-items: center;">
            <div>Řádku na stránku</div>
            <v-select
              :disabled="loading"
              dense
              v-model="rowsPerPage"
              style="max-width: 4rem; margin-left: 1rem;"
              :items="[10, 20, 50, 100]"
              @change="loadNow"
            ></v-select>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <add-edit-dialog>
      <template v-slot:fields="{ model }">
        <text-field-with-validation
                label="Jméno"
                :counter="50"
                rules="tag-name-required|tag-name-unique|tag-name-length:50"
                v-model="model.name"
        ></text-field-with-validation>
      </template>
    </add-edit-dialog>
  </div>
</template>
<script>
import Breadcrumb from "./plants-list/breadcrumb-with-action";
import PageFilter from "./../common/page-filter";
import {
  getArrayWithDefault,
  getBooleanWithDefault,
  getIntWithDefault,
  getObjectWithDefault,
  getStringWithDefault
} from "../../util/local-storage";
import TagsService from "../../services/plant-tags";
import TableRowInfo from "./../common/table-row-info";
import { mapActions } from "vuex";
import TagNameCellWidget from "./../common/highlighted-text-cell-widget";
import { extend } from "vee-validate";
import { required, max } from "vee-validate/dist/rules";
import TextFieldWithValidation from "../common/text-field-with-validation";
import AddEditDialog from "../common/add-edit-dialog";

extend("tag-name-required", { ...required, message: "Jméno je povinné" });
extend("tag-name-length", {
  ...max,
  message: "Max. délka jména tagu je 50 znaků"
});
extend("tag-name-unique", {
  validate: async value => {
    return (await TagsService.nameExists(value)) === false;
  },
  message: "Tag s tímhle jménem už existuje"
});

const allTableHeaders = [
  { text: "#", sortable: true, value: "id", hidden: true },
  { text: "Jméno", sortable: true, value: "name" },
  { text: "Systémový", sortable: true, value: "system" },
  { text: "Použití", sortable: false, value: "plants_count" },
  { text: "Akce", value: "action", sortable: false, align: "right" }
];

let debounceTimer;

export default {
  components: {
    AddEditDialog,
    TextFieldWithValidation,
    TagNameCellWidget,
    Breadcrumb,
    PageFilter,
    TableRowInfo,
  },
  data() {
    return {
      search: getStringWithDefault("tagsSearch", ""),
      loading: false,
      tags: [],
      totalTagsCount: 0,
      tableOptionsMenu: false,
      sortBy: getArrayWithDefault("tagsTableSortBy", ["id"]),
      sortOrder: getStringWithDefault("tagsTableSortOrder", "asc"),
      denseTable: getBooleanWithDefault("tagsListDenseTable", false),
      visibleColumns: getObjectWithDefault("tagsTableVisibleColumns", {
        id: true,
        name: true,
        system: true,
        action: true
      }),
      page: getIntWithDefault("tagsListPage", 1),
      rowsPerPage: getIntWithDefault("tagsListRowsPerPage", 20)
    };
  },
  computed: {
    allTableHeaders() {
      return allTableHeaders;
    },
    tableHeaders() {
      return allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    }
  },
  methods: {
    ...mapActions({ clearTagsInStore: "tags/clearTags" }),
    createOne() {
      this.$emit("addEditDialogClose", this.addEditDialogModel);
    },
    onTableSortDescUpdate(desc) {
      this.sortOrder = desc[0] ? "desc" : "asc";
      localStorage.setItem(
        "tagsTableSortOrder",
        JSON.stringify(this.sortOrder)
      );
      this.loadNow();
    },
    closeAddEditDialog() {
      this.$emit("addEditDialogClose", null);
    },
    async editOne(item) {
      let data = await this.$addEditDialog.openAddEditDialog(item);
      if (data) {
        await TagsService.update(data);
        this.loadNow();
        this.clearTagsInStore();
      }
    },
    async addNew() {
      let data = await this.$addEditDialog.openAddEditDialog();
      if (data) {
        await TagsService.create(data);
        this.loadNow();
        this.clearTagsInStore();
      }
    },
    async confirmDelete(item) {
      let message = `Smazat tag "${item.name}?"`;
      if (item.plants_count > 0) {
        message = `Tagem "${item.name}?" je označeno ${item.plants_count} rostlin. Smazat a odstranit z techto rostlin?`;
      }
      if (await this.$root.$confirm("Potvrzení", message)) {
        await TagsService.delete(item.id);
      }
      this.loadNow();
    },
    onTableSortByUpdate(sortBy) {
      this.sortBy = sortBy;
      localStorage.setItem("tagsTableSortBy", JSON.stringify(sortBy));
      this.loadNow();
    },
    async loadTags(filter, page, rowsPerPage) {
      let response = await TagsService.getTableData(filter, page, rowsPerPage);
      this.tags = response.rows;
      this.totalTagsCount = response.count;
    },
    loadNow() {
      this.loading = true;
      try {
        this.loadTags(
          {
            search: this.search,
            sortBy: this.sortBy,
            sortOrder: this.sortOrder
          },
          this.page,
          this.rowsPerPage
        );
      } catch (e) {
        console.error("Unable to search", e);
      } finally {
        this.loading = false;
      }
    },
    async load() {
      if (debounceTimer) {
        clearTimeout(debounceTimer);
      }
      debounceTimer = setTimeout(() => {
        this.loadNow();
      }, 500);
    }
  },
  watch: {
    search(newVal) {
      this.load();
      localStorage.setItem("tagsSearch", JSON.stringify(newVal));
    }
  },
  mounted() {
    this.loadNow();
  }
};
</script>
