<template>
  <v-app-bar app color="primary" dark style="z-index: 1500;" clipped-left>
    <v-btn icon @click="toggleDrawer">
      <v-icon>mdi-menu</v-icon>
    </v-btn>
    <div>
      Dashboard
    </div>
    <v-spacer></v-spacer>
    <v-menu v-model="menu" :close-on-content-click="false">
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon>mdi-account-circle</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <img src="/img/avatar.jpg" :alt="user.username" />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{ user.username }}</v-list-item-title>
              <v-list-item-subtitle>Administrator</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text @click="logMeOut">Logout</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      menu: false
    };
  },
  computed: {
    ...mapGetters({ user: "user/user", drawerOpen: "app/drawerOpen" })
  },
  methods: {
    ...mapActions({
      refreshUser: "user/refreshUser",
      logout: "user/logout",
      openDrawer: "app/setDrawerOpen"
    }),
    async logMeOut() {
      this.menu = false;
      await this.logout();
      //this.$router.push({href: '/login'});
      window.location.pathname = "/login";
    },
    toggleDrawer() {
      this.openDrawer(!this.drawerOpen);
    }
  }
};
</script>
