<template>
  <v-app v-if="settings && languages && user">
    <v-overlay v-if="!user" light :value="true">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <template v-if="user">
      <app-bar app color="primary" dark></app-bar>
      <v-content>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </v-content>
      <left-drawer></left-drawer>
      <confirm-dialog ref="confirm"></confirm-dialog>
      <info-dialog ref="info"></info-dialog>
      <notifications
        style="top: 68px;"
        classes="app-notifcations"
        group="app"
      />
    </template>
  </v-app>
</template>

<script>
import AppBar from "./app-bar";
import { mapActions, mapGetters } from "vuex";
import { ROUTES } from "../routes";
import ConfirmDialog from "./common/confirm-dialog";
import LeftDrawer from "./left-drawer";
import InfoDialog from "@components/common/info-dialog";

export default {
  components: {
    InfoDialog,
    LeftDrawer,
    AppBar,
    ConfirmDialog
  },
  data() {
    return {};
  },
  computed: {
    ROUTES() {
      return ROUTES;
    },
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ...mapGetters({
      user: "user/user",
      drawerOpen: "app/drawerOpen",
      drawerMini: "app/drawerMini",
      settings: "app/settings",
      languages: "languages/languages"
    })
  },
  methods: {
    ...mapActions({
      refreshUser: "user/refreshUser",
      setDrawerMini: "app/setDrawerMini",
      setDrawerOpen: "app/setDrawerOpen",
      loadSettings: "app/loadSettings",
      loadLanguages: "languages/load"
    }),
    onDrawerStateChanged(state) {
      if (!state) {
        //tha case when drawer is not closed with burger button
        this.setDrawerOpen(false);
      }
    },
    toggleDrawerMini() {
      this.setDrawerMini(!this.drawerMini);
    }
  },
  async mounted() {
    try {
      await this.loadSettings();
      await this.loadLanguages();
      await this.refreshUser();
    } catch (e) {
      window.location.pathname = "/login";
    }
    //from https://gist.github.com/eolant/ba0f8a5c9135d1a146e1db575276177d
    this.$root.$confirm = this.$refs.confirm.open;
    this.$root.$info = this.$refs.info.open;
  }
};
</script>
<style lang="scss">
@import "notifications";
</style>
