<template>
  <v-app>
    <div class="page">
      <div class="centered-content">
        <div class="flex-row">
          <v-icon size="64">mdi-alert</v-icon>
          <div class="error-message">{{ message }}</div>
        </div>
        <div class="flex-row bottom-row">
          <v-btn @click="reload">
            <v-icon left>mdi-reload</v-icon>
            reload
          </v-btn>
        </div>
      </div>
    </div>
  </v-app>
</template>
<script>
export default {
  props: {
    message: {
      type: String,
      default: "Application error"
    }
  },
  methods: {
    reload() {
      window.location.reload(true);
    }
  }
};
</script>
<style lang="css" scoped>
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .error-message {
    margin-left: 20px;
    font-size: 30px;
  }

  .bottom-row {
    margin-top: 20px;
  }
</style>
