<template>
  <v-navigation-drawer
    clipped
    app
    :value="drawerOpen"
    @input="onDrawerStateChanged"
    :mini-variant.sync="drawerMini"
  >
    <template v-slot:prepend>
      <v-list-item style="display: flex; flex-direction: column;">
        <div
          title="Botanická zahrada přírodovědecké fakulty Univerzity Karlovy v Praze"
        >
          <img
            src="/img/logo_icon.svg"
            :style="
              `width: ${drawerMini ? 70 : 200}px; height: ${
                drawerMini ? 55 : 130
              }px`
            "
          />
<!--          <LogoImage-->
<!--            :width="drawerMini ? 70 : 200"-->
<!--            :height="drawerMini ? 55 : 130"-->
<!--          ></LogoImage>-->
        </div>
      </v-list-item>
      <v-divider></v-divider>
    </template>
    <div :key="`menu_item_${idx}`" v-for="(menuOrMenuItem, idx) in menuItems">
      <v-list v-if="!menuOrMenuItem.items" dense nav>
        <v-list-item link :to="menuOrMenuItem.to" title="Dashboard">
          <v-list-item-icon>
            <v-icon>{{ menuOrMenuItem.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            {{ menuOrMenuItem.title }}
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <left-drawer-menu
        v-if="menuOrMenuItem.items"
        :items="menuOrMenuItem.items"
        :title="menuOrMenuItem.title"
        :name="menuOrMenuItem.title"
      ></left-drawer-menu>
    </div>
    <template v-slot:append>
      <v-list dense>
        <v-list-item @click="toggleDrawerMini">
          <v-list-item-icon
            :title="drawerMini ? 'Zvětšit panel' : 'Zmenšit panel'"
          >
            <v-icon
              :style="`transform: rotate3d(0,0,${drawerMini ? 1 : 0},180deg);`"
              >mdi-arrow-left-drop-circle-outline</v-icon
            >
          </v-list-item-icon>
          <v-list-item-content>
            &nbsp;Zmenšit panel
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
  </v-navigation-drawer>
</template>
<script>
// import LogoImage from "../../public/img/logo_icon.svg";
import { ROUTES } from "../routes";
import { MenuService } from "@services/menu";
import { mapActions, mapGetters } from "vuex";
import { getBooleanWithDefault } from "../util/local-storage";
import LeftDrawerMenu from "./left-drawer/left-drawer-menu";
export default {
  data() {
    return {
      registryMenuExpanded: getBooleanWithDefault("registryMenuExpanded", true),
      publicWebMenuExpanded: getBooleanWithDefault(
        "publicWebMenuExpanded",
        true
      )
    };
  },
  components: {
    LeftDrawerMenu,
    // LogoImage
  },
  computed: {
    menuItems() {
      return MenuService.getLeftDrawerMenuItems();
    },
    ...mapGetters({
      drawerOpen: "app/drawerOpen",
      drawerMini: "app/drawerMini"
    }),
    ROUTES() {
      return ROUTES;
    },
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    }
  },
  methods: {
    ...mapActions({
      setDrawerMini: "app/setDrawerMini",
      setDrawerOpen: "app/setDrawerOpen"
    }),
    onDrawerStateChanged(state) {
      if (!state) {
        //tha case when drawer is not closed with burger button
        this.setDrawerOpen(false);
      }
    },
    toggleDrawerMini() {
      this.setDrawerMini(!this.drawerMini);
    }
  },
  watch: {
    registryMenuExpanded(newVal) {
      localStorage.setItem("registryMenuExpanded", JSON.stringify(newVal));
    },
    publicWebMenuExpanded(newVal) {
      localStorage.setItem("publicWebMenuExpanded", JSON.stringify(newVal));
    }
  }
};
</script>
