<template>
  <v-app>
    <v-container fluid class="no-padding">
      <v-row no-gutters>
        <v-col cols="12" align="center" justify="center">
          <v-row align="center" justify="center" style="height: 100vh;">
            <v-card raised :loading="processing">
              <v-container class="logo-container">
                <Logo class="logo" />
              </v-container>
              <v-card-text>
                <v-container class="no-top-bottom-padding">
                  <v-row no-gutters>
                    <v-col>
                      <v-row>
                        <v-text-field
                          v-model="username"
                          label="Username"
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-text-field
                          v-model="password"
                          label="Password"
                          type="password"
                        ></v-text-field>
                      </v-row>
                      <v-row justify="space-between" align="center">
                        <v-checkbox
                          v-model="remember"
                          label="Remember me"
                        ></v-checkbox>
                        <v-spacer></v-spacer>
                        <v-btn raised @click="login" :loading="processing"
                          >Login
                        </v-btn>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <notifications classes="app-notifcations" group="login" />
    <div class="fixed-bottom-bar">
      <div
        class="version-number"
        :title="
          `Application version, frontend: ${version && version.frontend}, backend: ${version && version.backend}`
        "
      >
        ver. f{{ version && version.frontend }}/b{{ version && version.backend }}
      </div>
    </div>
  </v-app>
</template>
<script>
import UserService from "../services/user";
import Logo from "./../assets/img/logo_full.svg";
import { getBooleanWithDefault } from "../util/local-storage";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      processing: false,
      username: null,
      password: null,
      remember: getBooleanWithDefault("remember-me-after-login", false)
    };
  },
  computed: {
    ...mapGetters({ version: "app/version" })
  },
  components: {
    Logo
  },
  watch: {
    remember(newValue) {
      localStorage.setItem("remember-me-after-login", JSON.stringify(newValue));
    }
  },
  methods: {
    async login() {
      this.processing = true;
      try {
        await UserService.login(this.username, this.password, this.remember);
        this.$gtag.event("login", { method: "Internal" });
        setTimeout(() => {
          window.location.pathname = "/";
        }, 100);
      } catch (e) {
        console.error("Unable to login: ", e);
        this.$notify({
          title: "Chyba",
          text: "Prihlášení zlyhalo",
          group: "login",
          type: "error"
        });
      } finally {
        setTimeout(() => {
          this.processing = false;
        }, 1000);
      }
    }
  }
};
</script>
<style lang="scss">
@import "notifications";
</style>
<style lang="scss" scoped>
.no-padding {
  padding: 0;
}

.fixed-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .version-number {
    opacity: 0.5;
    font-size: 0.8rem;
  }
}

.logo-container {
  width: 400px;
}

.no-top-bottom-padding {
  padding-top: 0;
  padding-bottom: 0;
}
</style>
