<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-icon x-large>mdi-file-document-outline</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Články</v-list-item-title>
        <v-list-item-subtitle
          >{{ articlesCount ? articlesCount : "..." }} {{$tc('article',articlesCount)}}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn text :to="{ name: ROUTES.ARTICLES_LIST }">Otevři seznam</v-btn>
      <v-btn
              text
              title="Vytvořit novej článek"
              :to="{ name: ROUTES.ARTICLE_EDIT, params: {id: '_'} }"
      >Vytvoř</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script>
import { ROUTES } from "../../../routes";
import ArticlesService from "../../../services/articles";

export default {
  data() {
    return {
      articlesCount: null
    };
  },
  computed: {
    window() {
      return window;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await ArticlesService.getTableData({}, 1, 1);
    this.articlesCount = result.count;
  }
};
</script>
