<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-icon x-large>mdi-account-multiple</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Autoři</v-list-item-title>
        <v-list-item-subtitle
          >{{ authorsCount ? authorsCount : "..." }} {{$tc('author',authorsCount)}}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn text :to="{ name: ROUTES.CATEGORIES_LIST }">Otevři seznam</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { ROUTES } from "../../../routes";
import {AuthorsService} from "../../../services/authors";

export default {
  data() {
    return {
      authorsCount: null
    };
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await AuthorsService.getTableData({}, 1, 1);
    this.authorsCount = result.count;
  }
};
</script>
