<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-icon x-large>mdi-folder-outline</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Kategorie</v-list-item-title>
        <v-list-item-subtitle
          >{{ categoriesCount ? categoriesCount : "..." }} {{$tc('category',categoriesCount)}}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn text :to="{ name: ROUTES.CATEGORIES_LIST }">Otevři seznam</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { ROUTES } from "../../../routes";
import {CategoriesService} from "../../../services/categories";

export default {
  data() {
    return {
      categoriesCount: null
    };
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await CategoriesService.getTableData({}, 1, 1);
    this.categoriesCount = result.count;
  }
};
</script>
