<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-icon x-large>mdi-call-split</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Čeledi</v-list-item-title>
        <v-list-item-subtitle
          >{{ familiesCount ? familiesCount : "..." }} {{$tc('family',familiesCount)}}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn text :to="{ name: ROUTES.FAMILIES_LIST }">Otevři seznam</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { ROUTES } from "../../../routes";
import {FamiliesSerivce} from "../../../services/families";

export default {
  data() {
    return {
      familiesCount: null
    };
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await FamiliesSerivce.getTableData({}, 1, 1);
    this.familiesCount = result.count;
  }
};
</script>
