<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-icon x-large>mdi-flower</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Rostliny</v-list-item-title>
        <v-list-item-subtitle
          >{{ plantsCount ? plantsCount : "..." }} {{$tc('plant',plantsCount)}}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn text :to="{ name: ROUTES.PLANTS_LIST }">Otevři seznam</v-btn>
      <v-btn
        text
        title="Vytvořit novou rostlinu"
        @click="() => window.open(`${VUE_APP_DOMAIN}/plants/_`, '_self')"
        >Vytvoř</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script>
import { ROUTES } from "../../../routes";
import PlantService from "../../../services/plants";

export default {
  data() {
    return {
      plantsCount: null
    };
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await PlantService.getTableData({}, 1, 1);
    this.plantsCount = result.count;
  }
};
</script>
