<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-icon x-large>mdi-tag-multiple</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">Tagy</v-list-item-title>
        <v-list-item-subtitle
          >{{ tagsCount ? tagsCount : "..." }} {{$tc('tag',tagsCount)}}</v-list-item-subtitle
        >
      </v-list-item-content>
    </v-list-item>
    <v-card-actions>
      <v-btn text :to="{ name: ROUTES.TAGS_LIST }">Otevři seznam</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { ROUTES } from "../../../routes";
import {TagsService} from "../../../services/plant-tags";

export default {
  data() {
    return {
      tagsCount: null
    };
  },
  computed: {
    window() {
      return window;
    },
    VUE_APP_DOMAIN() {
      return process.env.VUE_APP_DOMAIN;
    },
    ROUTES() {
      return ROUTES;
    }
  },
  async mounted() {
    let result = await TagsService.getTableData({}, 1, 1);
    this.tagsCount = result.count;
  }
};
</script>
