<template>
  <div>{{ type }}</div>
</template>
<script>
export default {
  props: {
    item: {
      type: Object
    }
  },
  methods: {},
  data() {
    return {
      type: "..."
    };
  },
  mounted() {
    if (this.item.filter && this.item.filter.tags) {
      this.type = "Podle tagů rostlin";
      return;
    }
    if (this.item.filter && this.item.filter.categories) {
      this.type = "Podle kategorie rostlin";
      return;
    }
    if (
      this.item.filter &&
      this.item.filter.categories &&
      this.item.filter.tags
    ) {
      this.type = "Podle tagů a kategorie rostlin";
      return;
    }
    this.type = "Manuální";
  }
};
</script>
