<template>
  <v-list dense nav>
    <v-list-group v-model="expanded">
      <template v-slot:activator>
        <v-list-item-content>{{ title }}</v-list-item-content>
      </template>
      <v-list-item
        :key="`menu_item_${idx}`"
        link
        v-for="(item, idx) of items"
        :title="item.title"
        :to="item.to"
        @click="item.onClick"
      >
        <v-list-item-icon v-if="item.icon">
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          {{ item.title }}
        </v-list-item-content>
      </v-list-item>
    </v-list-group>
  </v-list>
</template>
<script>
import { getBooleanWithDefault } from "../../util/local-storage";

export default {
  props: {
    name: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      expanded: getBooleanWithDefault(`${this.name}Expanded`, true)
    };
  }
};
</script>
