<template>
  <v-app-bar dense class="actions-bar">
    <div style="display: flex; width: 100%; align-items: center;">
      <v-spacer></v-spacer>
      <transition name="fade">
        <div style="margin-right: .5rem; color: orange;" v-if="unsavedChanges">
          <v-icon>mdi-alert</v-icon>
          {{ $t("Neuložené změny") }}
        </div>
      </transition>
      <v-btn
        v-if="canPreview"
        color="primary"
        style="margin-right: .5rem;"
        :disabled="!valid"
        @click="$emit('preview-request')"
      >
        {{ $t("Náhled") }}
      </v-btn>
      <v-btn
        color="primary"
        style="margin-right: .5rem;"
        :disabled="!valid"
        @click="$emit('save-request')"
      >
        {{ isNew ? $t("Vytvořit") : $t("Uložit") }}
      </v-btn>
      <v-btn v-if="canCancel" text @click="$emit('cancel-save-request')">{{
        $t("Zrušit")
      }}</v-btn>
      <v-menu top left offset-y v-if="canDelete">
        <template v-slot:activator="{ on }">
          <v-btn
            class="align-self-center"
            icon
            :title="$t('Další akce')"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="$emit('delete-request')">
            <v-list-item-icon>
              <v-icon>mdi-delete</v-icon>
            </v-list-item-icon>
            <v-list-item-content v-text="$t('Smazat')"> </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
  </v-app-bar>
</template>
<script>
export default {
  props: {
    unsavedChanges: {
      type: Boolean
    },
    valid: {
      type: Boolean
    },
    isNew: {
      type: Boolean
    },
    canDelete: {
      type: Boolean,
      default: true
    },
    canCancel: {
      type: Boolean,
      default: true
    },
    canPreview: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style scoped lang="scss">
.actions-bar {
  position: fixed;
  z-index: 2;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
}
</style>
