<template>
  <v-dialog persistent v-model="addEditDialogOpen" max-width="600">
    <ValidationObserver v-slot="{ valid }">
      <v-card>
        <v-app-bar color="primary">
          <div style="color: white;">
            {{ addEditDialogCreateMode ? "Vytvořit" : "Editovat" }} autora
          </div>
          <v-spacer></v-spacer>
          <v-btn color="white" @click="closeAddEditDialog" icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-app-bar>
        <v-card-text>
          <br />
          <slot name="fields" v-bind:model="addEditDialogModel"></slot>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn :disabled="!valid" color="primary" @click="createOne">{{
            addEditDialogCreateMode ? "Vytvořit" : "Uložit"
          }}</v-btn>
          <v-btn text @click="closeAddEditDialog">Zrušit</v-btn>
        </v-card-actions>
      </v-card>
    </ValidationObserver>
  </v-dialog>
</template>
<script>
import { ValidationObserver } from "vee-validate";

export default {
  components: {
    ValidationObserver,

  },
  data() {
    return {
      addEditDialogOpen: false,
      addEditDialogModel: null,
      addEditDialogCreateMode: true
    };
  },
  methods: {
    addNew() {
      return this.openAddEditDialog();
    },
    editOne(item) {
      return this.openAddEditDialog(item);
    },
    createOne() {
      this.$emit("addEditDialogClose", this.addEditDialogModel);
    },
    closeAddEditDialog() {
      this.$emit("addEditDialogClose", null);
    },
    openAddEditDialog(item) {
      this.addEditDialogOpen = true;
      if (item) {
        this.addEditDialogModel = Object.assign({}, { ...item });
        this.addEditDialogCreateMode = false;
      } else {
        this.addEditDialogModel = {};
        this.addEditDialogCreateMode = true;
      }
      let promise = new Promise(resolve => {
        this.$once("addEditDialogClose", model => {
          this.addEditDialogOpen = false;
          return resolve(model);
        });
      });
      return promise;
    }
  },
  mounted() {
    this.$parent.$addEditDialog = this;
  }
};
</script>
