<template>
  <v-autocomplete
    :style="this.zIndex ? `z-index: ${this.zIndex};` : ''"
    :label="label"
    :value="value"
    :items="items"
    @input="val => $emit('input', val)"
    chips
    :readonly="readonly"
    :disabled="disabled"
    multiple
    item-text="name"
    item-value="id"
  >
    <template v-slot:selection="data">
      <v-chip
        v-bind="data.attrs"
        :input-value="data.selected"
        :close="!disabled && !readonly"
        @click:close="() => removeTag(data.item)"
      >
        {{ data.item.name }}
      </v-chip>
    </template>
  </v-autocomplete>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    zIndex: {
      type: Number,
      default: null
    },
    value: {
      type: Array,
      default: () => []
    },
    label: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    removeTag(itemToRemove) {
      if (this.disabled || this.readonly) {
        return;
      }
      for (let i = 0; i < this.value.length; i++) {
        if (itemToRemove.id === this.value[i]) {
          let items = this.value.slice();
          items.splice(i, 1);
          this.$emit("input", items);
          return;
        }
      }
    }
  }
};
</script>
