<template>
  <v-autocomplete
    style="z-index: 1000;"
    label="Kategorie"
    :value="selectedCategories"
    @input="value => $emit('update:selectedCategories', value)"
    :items="categories"
    chips
    multiple
    item-text="name"
    item-value="id"
  >
    <template v-slot:selection="data">
      <v-chip
        v-bind="data.attrs"
        :input-value="data.selected"
        close
        @click="data.select"
        @click:close="removeCategory(data.item)"
      >
        {{ data.item.name }}
      </v-chip>
    </template>
  </v-autocomplete>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: {
    selectedCategories: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    ...mapActions({
      loadCategories: "categories/loadCategories"
    }),
    removeCategory(itemToRemove) {
      for (let i = 0; i < this.selectedCategories.length; i++) {
        if (itemToRemove.id === this.selectedCategories[i]) {
          let actualValue = this.selectedCategories.slice(); //splice(i, 1)
          actualValue.splice(i, 1);
          console.log(actualValue);
          this.$emit("update:selectedCategories", actualValue);
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      categories: "categories/categoriesList"
    })
  },
  mounted() {
    this.loadCategories();
  }
};
</script>
