<template>
  <div class="date-time-picker">
    <v-menu
      ref="dateMenu"
      v-model="dateMenu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          :value="hrDate"
          label="Vyberte datum"
          filled
          prepend-icon="mdi-calendar"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <div style="display: flex;">
        <v-date-picker v-model="datePart" no-title scrollable>
          <!--          <v-spacer></v-spacer>-->
          <!--          <v-btn text color="primary" @click="dateMenu = false">Cancel</v-btn>-->
          <!--          <v-btn text color="primary" @click="$refs.dateMenu.save(datePart)"-->
          <!--            >OK-->
          <!--          </v-btn>-->
        </v-date-picker>
        <v-time-picker v-model="timePart" format="24hr" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="closeMenu">Cancel</v-btn>
          <v-btn text color="primary" @click="confirmDate">OK </v-btn>
        </v-time-picker>
      </div>
    </v-menu>
    <!--    <v-menu-->
    <!--      ref="timeMenu"-->
    <!--      v-model="timeMenu"-->
    <!--      :close-on-content-click="false"-->
    <!--      :return-value.sync="timePart"-->
    <!--      transition="scale-transition"-->
    <!--      offset-y-->
    <!--      min-width="290px"-->
    <!--    >-->
    <!--      <template v-slot:activator="{ on }">-->
    <!--        <v-text-field-->
    <!--          :value="timePart"-->
    <!--          label="Čas"-->
    <!--          filled-->
    <!--          prepend-icon="mdi-clock"-->
    <!--          readonly-->
    <!--          v-on="on"-->
    <!--        ></v-text-field>-->
    <!--      </template>-->
    <!--      <v-time-picker v-model="timePart" format="24hr" scrollable>-->
    <!--        <v-spacer></v-spacer>-->
    <!--        <v-btn text color="primary" @click="closeMenu">Cancel</v-btn>-->
    <!--        <v-btn text color="primary" @click="$refs.timeMenu.save(timePart)"-->
    <!--          >OK-->
    <!--        </v-btn>-->
    <!--      </v-time-picker>-->
    <!--    </v-menu>-->
  </div>
</template>
<script>
import { format as formatDate } from "date-fns";
import csLocale from "date-fns/locale/cs";

export default {
  props: {
    date: {
      type: [Date, String],
      default: () => new Date()
    }
  },
  computed: {
    hrDate() {
      if (!this.date) {
        return "";
      }
      let parsedDate = this.date;
      if (typeof this.date === "string") {
        parsedDate = new Date(Date.parse(this.date));
      }
      return formatDate(parsedDate, "DD MMMM YYYY HH:mm", { locale: csLocale });
    }
  },
  data() {
    return {
      timeMenu: false,
      dateMenu: false,
      datePart: null,
      timePart: null
    };
  },
  methods: {
    closeMenu() {
      this.dateMenu = false;
    },
    confirmDate() {
      this.dateMenu = false;
    }
  },
  mounted() {
    if (!this.date) {
      return;
    }
    let parsedDate = this.date;
    if (typeof this.date === "string") {
      parsedDate = new Date(Date.parse(this.date));
    }
    this.datePart = parsedDate.toISOString().substr(0, 10);
    this.timePart = formatDate(parsedDate, "hh:mm");
  },
  watch: {
    datePart(newVal) {
      this.$emit(
        "update:date",
        new Date(Date.parse(`${newVal} ${this.timePart}`))
      );
    },
    timePart(newVal) {
      this.$emit(
        "update:date",
        new Date(Date.parse(`${this.datePart} ${newVal}`))
      );
    }
  }
};
</script>
<style scoped lang="scss">
.date-time-picker {
  display: flex;
}
</style>
