<template>
  <div class="wrap-letters-overflow" :title="title">
    <!--    <Timeago-->
    <!--      locale="cs"-->
    <!--      :auto-update="5"-->
    <!--      v-if="date"-->
    <!--      :datetime="date"-->
    <!--    ></Timeago>-->
    <span v-if="date">{{label}}</span>
    <span v-if="!date" :title="$t('bez hodnoty')">-</span>
  </div>
</template>
<script>
import distanceInWordsToNow from "date-fns/distance_in_words_to_now";
import csLocale from "date-fns/locale/cs";
import { format as formatDate } from "date-fns";

export default {
  props: {
    date: {
      type: String
    }
  },
  computed: {
    csLocale() {
      return csLocale;
    },
    label() {
      if (!this.date) {
        return "-";
      }
      return formatDate(this.date, "DD.MM.YYYY");
    },
    title() {
      if (!this.date) {
        return "-";
      }
      return `${distanceInWordsToNow(this.date, {
        addSuffix: true,
        locale: csLocale
      })} - ${formatDate(this.date, "d.MMMM YYYY HH:mm", {locale: csLocale})}`;
    }
  },
  methods: {
    distanceInWordsToNow
  }
};
</script>
