<template>
  <div class="editor">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <v-toolbar
        color="white"
        style="z-index: 90;"
        dense
        :class="toolabrFloating ? 'toolbar-floating' : 'toolbar-top'"
      >
        <v-btn
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
          icon
        >
          <v-icon>mdi-format-bold</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
        >
          <v-icon>mdi-format-italic</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
        >
          <v-icon>mdi-format-strikethrough-variant</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
        >
          <v-icon>mdi-format-underline</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
        >
          <v-icon>mdi-format-pilcrow</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
        >
          H1
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
        >
          H2
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
        >
          H3
        </v-btn>

        <v-btn icon @click="commands.clearFormat()">
          <v-icon>mdi-format-clear</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
        >
          <v-icon>mdi-format-list-bulleted</v-icon>
        </v-btn>

        <v-btn
          icon
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
        >
          <v-icon>mdi-format-list-numbered</v-icon>
        </v-btn>

        <v-btn @click="commands.horizontal_rule" icon>
          <hrIcon class="editor-icon"></hrIcon>
        </v-btn>
        <div class="toolbar-separator"></div>

        <v-btn @click="commands.undo" icon>
          <v-icon>mdi-undo</v-icon>
        </v-btn>

        <v-btn @click="commands.redo" icon>
          <v-icon>mdi-redo</v-icon>
        </v-btn>
      </v-toolbar>
    </editor-menu-bar>

    <editor-content
      class="editor-content"
      :editor="editor"
      ref="editor-content"
    />
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  Bold,
  Italic,
  Link,
  Strike,
  Underline,
  History
} from "tiptap-extensions";
import hrIcon from "./editor/icons/hr.svg";
export default {
  components: {
    EditorContent,
    EditorMenuBar,
    hrIcon
  },
  props: {
    value: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      editor: null,
      toolabrFloating: false
    };
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
        new BulletList(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new Link(),
        new Bold(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History()
      ],
      content: this.value,
      onUpdate: this.onContentChanged
    });
    this.handleScroll();
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  beforeDestroy() {
    this.editor.destroy();
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (!this.$refs["editor-content"]) {
        return;
      }
      let element = this.$refs["editor-content"].$el;
      let dim = element.getBoundingClientRect();
      console.log("DY", dim.y);
      if (dim.y < 88 && dim.y > 88 - element.offsetHeight) {
        this.toolabrFloating = true;
      } else {
        this.toolabrFloating = false;
      }
      // let winScroll =
      //         document.body.scrollTop || document.documentElement.scrollTop;
      // let height =
      //         document.documentElement.scrollHeight -
      //         document.documentElement.clientHeight;
      //let scrolled = (winScroll / height) * 100;
      //this.$refs["scroll-indicator"].style.width = scrolled + "%";
    },
    onContentChanged(editor) {
      this.$emit("input", editor.getHTML());
    }
  }
};
</script>
<style lang="scss" scoped>
.menubar {
  display: flex;
}
.toolbar-top {
  position: static;
}

.toolbar-floating {
  position: fixed;
  top: 64px;
  left: 0px;
}

.editor-content {
  padding: 12px 12px 0 12px;
  background-color: rgb(249, 249, 249);
  border-color: rgb(249, 249, 249);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  /*&:focus {*/
  /*  border-bottom: 1px solid rgba(0, 0, 0, 1);*/
  /*}*/
}

.toolbar-separator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.54);
  height: 24px;
}

.editor-icon {
  fill: rgba(0, 0, 0, 0.54);
}
</style>
