<template>
  <div :title="text" class="wrapper">
    <text-highlight
      v-if="search"
      :queries="[search]"
      :caseSensitive="false"
      :diacriticsSensitive="false"
      >{{ text }}</text-highlight
    >
    <div v-if="!search">{{ text }}</div>
  </div>
</template>
<script>
import TextHighlight from "vue-text-highlight";

export default {
  components: {
    TextHighlight
  },
  props: {
    text: {
      type: String
    },
    search: {
      type: String,
      default: null
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  position: relative;
  max-height: 1.1rem;
  overflow: hidden;
  word-break: break-all;
}
</style>
