<template>
  <div style="position: relative;">
    <div ref="mapel" class="map"></div>
    <v-card class="count-popup">
      <v-card-text>
        <span v-if="markers.length > 0"
          >Nalezeno {{ markers.length }}
          {{ getPluralForm(markers.length) }}</span
        >
        <span v-if="!markers || markers.length === 0"
          >Nenalezeny žádné značky</span
        >
      </v-card-text>
    </v-card>
    <v-card
      v-show="hoverMarker"
      class="legend-popup"
      :style="
        `transform: translate3d(${hoverMarkerX}px, ${hoverMarkerY}px, 0);`
      "
    >
      <v-card-text v-show="hoverMarker">
        <slot name="legend" v-bind:marker="hoverMarker"></slot>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { map, tileLayer, marker, latLng, icon } from "leaflet";
import { mapGetters } from "vuex";
import MiniMap from "leaflet-minimap";
import { MarkerClusterGroup } from "leaflet.markercluster";
import "leaflet/dist/leaflet.css";
import "leaflet.markercluster/dist/MarkerCluster.css";
import "leaflet.markercluster/dist/MarkerCluster.Default.css";

export default {
  data() {
    return {
      hoverMarker: null,
      hoverMarkerX: null,
      hoverMarkerY: null
    };
  },
  props: {
    lat: {
      type: Number
    },
    lng: {
      type: Number
    },
    zoom: {
      type: Number
    },
    maxBounds: {
      type: Array
    },
    gardenTileLayerVisible: {
      type: Boolean,
      default: true
    },
    markers: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapGetters({ appSettings: "app/settings" })
  },
  methods: {
    cleanupMarkers() {
      if (this.mapMarkers && this.mapMarkers.lengths > 0) {
        for (let mapMarker of this.mapMarkers) {
          mapMarker.unregisterHandlers();
        }
      }
    },
    getPluralForm(count) {
      if (count === 1) {
        return "značka";
      } else if (count < 5) {
        return "značky";
      } else {
        return "značek";
      }
    },
    onMouseEnterMarker(e, markerItem, markerMapObject) {
      this.hoverMarker = markerItem;
    },
    onMouseLevesMarker(e, markerItem, markerMapObject) {
      this.hoverMarker = null;
    },
    onMouseMoveMarker(e) {
      this.hoverMarkerX = e.containerPoint.x + 10;
      this.hoverMarkerY = e.containerPoint.y + 10;
    },
    redrawMap(gardenTileLayerVisible) {
      if (this.gardenTileLayer) {
        this.gardenTileLayer.remove();
      }
      if (this.miniGardenTileLayer) {
        this.miniGardenTileLayer.remove();
      }

      if (!gardenTileLayerVisible) {
        return;
      }
      this.gardenTileLayer = tileLayer(
        `https://${this.appSettings.baseUrl}/api/map2/{z}/{x}/{y}.png`,
        {
          maxZoom: 23,
          maxNativeZoom: 21,
          minZoom: 17,
          attribution: this.appSettings.mapCopyright
        }
      ).addTo(this.map);
      this.miniGardenTileLayer = new MiniMap(
        tileLayer(
          `https://${this.appSettings.baseUrl}/api/map2/{z}/{x}/{y}.png`,
          {
            maxZoom: 20,
            minZoom: 17,
            attribution: this.appSettings.mapCopyright
          }
        ),
        {}
      ).addTo(this.map);
      //markers
      this.cleanupMarkers();
      this.clusterLayer.clearLayers();
      this.mapMarkers = [];
      const size = [48, 48];
      for (let markerItem of this.markers) {
        let mapMarker = marker(
          latLng(markerItem.latitude, markerItem.longitude),
          {
            icon: icon({
              iconUrl: "img/smallRedMarker.svg",
              iconSize: size,
              iconAnchor: [size[0] / 2, size[1]]
            })
          }
        );

        const onMouseEnter = e => {
          this.onMouseEnterMarker(e, markerItem, mapMarker);
        };

        const onMouseOut = e => {
          this.onMouseLevesMarker(e, markerItem, mapMarker);
        };

        const onMouseMove = e => {
          this.onMouseMoveMarker(e);
        };

        const onClick = () => {
          window.open(
            `${process.env.VUE_APP_DOMAIN}/plants/${markerItem.plant_id}`,
            "_blank"
          );
        };

        mapMarker.on("mouseover", onMouseEnter);
        mapMarker.on("mouseout", onMouseOut);
        mapMarker.on("mousemove", onMouseMove);
        mapMarker.on("click", onClick);

        mapMarker.unregisterHandlers = () => {
          mapMarker.off("mouseover", onMouseEnter);
          mapMarker.off("click", onClick);
          mapMarker.off("mouseout", onMouseOut);
          mapMarker.off("mousemove", onMouseMove);
        };

        this.clusterLayer.addLayer(mapMarker);
        this.mapMarkers.push(mapMarker);
      }
    }
  },
  watch: {
    gardenTileLayerVisible(newVal) {
      this.redrawMap(newVal);
    },
    markers(newVal) {
      this.redrawMap(this.gardenTileLayerVisible);
    }
  },
  destroyed() {
    this.cleanupMarkers();
  },
  async mounted() {
    this.map = map(this.$refs.mapel, {
      maxZoom: 23
      //maxBounds: this.maxBounds
      // : [
      //       [50.0689551446, 14.4179141521],
      //       [50.0733622808, 14.4247806072]
      //     ]
    }).setView([this.lat, this.lng], this.zoom);
    tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxNativeZoom: 18,
      maxZoom: 20,
      noWrap: true
    }).addTo(this.map);
    this.clusterLayer = new MarkerClusterGroup();
    this.clusterLayer.addTo(this.map);
    this.redrawMap(this.gardenTileLayerVisible);
  }
};
</script>
<style scoped lang="scss">
.map {
  width: 100%;
  height: 600px;
}

.count-popup {
  z-index: 899;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.legend-popup {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
}
</style>
