<template>
  <div style="white-space: nowrap; overflow: hidden; min-width: 100px;">
    {{ text }}
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String
    }
  }
};
</script>
