<template>
  <v-card>
    <v-card-text>
      <div style="display: flex; align-items: center;">
        <v-text-field
          @keydown.enter="$emit('onSearchChanged')"
          :label="searchLabel"
          :placeholder="searchPlaceholder"
          :loading="loading"
          :value="search"
          @input="value => $emit('update:search', value)"
        ></v-text-field>
        <transition name="fade">
          <div v-if="search" title="Zrušit filtr">
            <v-btn icon @click="$emit('update:search', '')">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
        </transition>
        <div style="margin-left: 1rem;" @click="$emit('requestSearch')">
          <v-btn
            :title="searchButtonLabel"
            :loading="loading"
            :disabled="loading"
            >{{ searchButtonLabel }}</v-btn
          >
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <slot name="underSearchLeft"></slot>
        <v-spacer></v-spacer>
        <slot name="underSearchMiddle"></slot>
        <v-spacer></v-spacer>
        <v-btn
          v-if="$slots.detailedFilter"
          @click="() => $emit('showMoreToggle')"
          text
          title="Upřesnit hledání"
          >{{ showMoreFilter ? "Zrušit filtr" : "Upřesnit filtr" }}</v-btn
        >
      </div>
      <div
        v-if="showMoreFilter && $slots.detailedFilter"
        style="margin-top:1rem;"
      >
        <v-divider></v-divider>
        <slot name="detailedFilter"></slot>
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    searchButtonLabel: {
      type: String,
      default: "Search"
    },
    searchLabel: {
      type: String,
      default: "Search"
    },
    searchPlaceholder: {
      type: String,
      default: "Start typing..."
    },
    showMoreFilter: {
      type: Boolean
    },
    search: {
      type: String
    }
  }
};
</script>
