<template>
  <div>
    <v-card>
      <v-card-text>
        <div
          style="display: flex; align-items: center; justify-content: space-between; width: 100%;"
        >
          <div class="display-1">{{ label }}</div>
          <div>
            <v-btn :disabled="loading" :loading="loading" icon @click="loadNow">
              <v-icon title="Znovu načíst">mdi-reload</v-icon>
            </v-btn>
            <v-menu
              z-index="1500"
              :close-on-content-click="false"
              v-model="tableOptionsMenu"
              offset-y
            >
              <template v-slot:activator="{ on }">
                <v-btn icon>
                  <v-icon title="Možnosti zobrazení" v-on="on"
                    >mdi-settings</v-icon
                  >
                </v-btn>
              </template>
              <v-card>
                <v-card-text>
                  <v-switch
                    hide-details
                    inset
                    :input-value="denseTable"
                    @change="val => $emit('update:denseTable', val)"
                    dense
                    label="Kompaktní zobrazení"
                    style="margin: 0 0 .5rem .5rem;"
                  ></v-switch>
                  <v-divider></v-divider>
                  <div style="margin-top: .5rem;">Zobrazovat sloupce:</div>
                  <v-list>
                    <v-list-item
                      :key="`table_header_${col.value}`"
                      v-for="col in allTableHeaders"
                    >
                      <v-switch
                        hide-details
                        inset
                        :input-value="visibleColumns[col.value]"
                        @change="val => changeVisibility(col.value, val)"
                        dense
                        :label="col.text"
                      ></v-switch>
                    </v-list-item>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-menu>
          </div>
        </div>
        <div v-if="totalCount > 0">
          <table-row-info
            :page="page"
            :total-count="totalCount"
            :rows-per-page="rowsPerPage"
          ></table-row-info>
        </div>
        <slot name="table"></slot>
        <div style="display: flex; align-items: center;" v-if="totalCount > 0">
          <table-row-info
            :page="page"
            :total-count="totalCount"
            :rows-per-page="rowsPerPage"
          ></table-row-info>
          <v-spacer></v-spacer>
          <div>
            <v-pagination
              :disabled="loading"
              @input="onPageChanged"
              :length="Math.ceil(totalCount / rowsPerPage)"
              :value="page"
              :total-visible="10"
            ></v-pagination>
          </div>
          <div style="display: flex; align-items: center;">
            <div>Řádku na stránku</div>
            <v-select
              :disabled="loading"
              dense
              :value="rowsPerPage"
              style="max-width: 4rem; margin-left: 1rem;"
              :items="[10, 20, 50, 100]"
              @input="onRowsPerPageChanged"
            ></v-select>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import TableRowInfo from "./../common/table-row-info";
export default {
  components: {
    TableRowInfo
  },
  props: {
    label: {
      type: String,
      required: true
    },
    totalCount: {
      type: Number
    },
    rowsPerPage: {
      type: Number
    },
    denseTable: {
      type: Boolean
    },
    allTableHeaders: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false
    },
    sortBy: {
      type: Array
    },
    page: {
      type: Number
    },
    sortOrder: {
      type: String
    },
    visibleColumns: {
      type: Object
    }
  },
  data() {
    return {
      tableOptionsMenu: false,
      addEditDialogOpen: false,
      addEditDialogCreateMode: true
    };
  },
  computed: {
    tableHeaders() {
      return this.allTableHeaders.filter(item => {
        return this.visibleColumns[item.value] === true;
      });
    }
  },
  methods: {
    changeVisibility(colName, colValue) {
      let visibleColumns = Object.assign({}, this.visibleColumns);
      visibleColumns[colName] = colValue;
      this.$emit("update:visibleColumns", visibleColumns);
    },
    onPageChanged(value) {
      this.$emit('update:page', value);
      this.loadNow();
    },
    onRowsPerPageChanged(value) {
      this.$emit('update:rowsPerPage', value);
      this.loadNow();
    },
    loadNow() {
      this.$emit("load-request");
    },
    onTableSortDescUpdate(desc) {
      this.$emit("update:sort-desc", desc);
    },
    onTableSortByUpdate(sortBy) {
      this.$emit("update:sort-by", sortBy);
    }
  }
};
</script>
