<template>
  <div style="height: 250px;" ref="droparea">
    <div class="image-upload" :class="{ highlighted: dropHighlighted }">
      <v-btn
        v-if="!previewImageUrl && uploadProgress === null"
        icon
        @click="openFilesSelector"
      >
        <v-icon large>mdi-file-find</v-icon>
      </v-btn>
      <transition name="fade">
        <div v-if="previewImageUrl" class="image-preview-wrapper">
          <img :src="previewImageUrl" class="image" />
          <v-progress-circular
            color="primary"
            size="80"
            width="10"
            style="position: absolute; top: calc(50% - 30px); left: calc(50% - 30px)"
            v-if="uploadProgress !== null"
            :value="uploadProgress"
            >{{ uploadProgress }}</v-progress-circular
          >
          <div class="image-actions">
            <v-app-bar flat>
              <v-spacer></v-spacer>
              <v-btn
                icon
                color="primary"
                v-if="value"
                :title="$t('Smazat obrázek')"
                @click="deleteImage"
                class="image-action"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-app-bar>
          </div>
        </div>
      </transition>
    </div>
    <input
      multiple="false"
      style="visibility: hidden;"
      :accept="accept"
      type="file"
      ref="file"
      @change="handleFileUpload"
    />
  </div>
</template>
<script>
import urlJoin from "proper-url-join";
import { mapGetters } from "vuex";
import bytes from "bytes";
import { uploadSingleImage } from "../../services/upload";
import { getImagePreviewUrl } from "../../util/image";

export default {
  data() {
    return {
      uploadProgress: null,
      dropHighlighted: false,
      dataUrl: null
    };
  },
  props: {
    value: {
      type: Number
    },
    accept: {
      type: String,
      default: "image/jpeg,image/png"
    },
    maxSize: {
      type: String,
      default: "1mb"
    }
  },
  computed: {
    ...mapGetters({ webp: "app/webp" }),
    maxSizeBytes() {
      return bytes.parse(this.maxSize);
    },
    previewImageUrl() {
      if (!this.value && !this.dataUrl) {
        return "";
      }
      if (!this.value && this.dataUrl) {
        return this.dataUrl;
      }
      return getImagePreviewUrl(this.value, 640, this.webp);
      // return urlJoin(
      //   process.env.VUE_APP_DOMAIN,
      //   "images-preview",
      //   this.value,
      //   "max-width/640",
      //   this.webp ? "webp" : ""
      // );
    }
  },
  methods: {
    openFilesSelector(e) {
      const evt = document.createEvent("MouseEvents");
      evt.initMouseEvent(
        "click",
        true,
        true,
        window,
        1,
        0,
        0,
        0,
        0,
        false,
        false,
        false,
        false,
        0,
        null
      );
      this.$refs.file.dispatchEvent(evt);
      evt.stopPropagation();
      evt.preventDefault();
    },
    deleteImage(e) {
      this.$emit("input", null);
      e.stopPropagation();
      e.preventDefault();
    },
    onUploadProgress(evt) {
      this.uploadProgress = Math.round((evt.loaded * 100) / evt.total);
      if (evt.loaded === evt.total) {
        setTimeout(() => {
          this.uploadProgress = null;
        }, 200);
      }
    },
    getImageDataUrl(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = function(e) {
          return resolve(e.target.result);
        };
        reader.onerror = function(e) {
          return reject(e);
        };
        reader.readAsDataURL(file);
      });
    },
    async uploadFile(file) {
      if (file.size > this.maxSizeBytes) {
        this.$notify({
          title: "Chyba",
          text: `Soubor je příliš velký, Max. povolená velikost je ${this.maxSize}`,
          group: "app",
          type: "error"
        });
        return;
      }
      this.dataUrl = await this.getImageDataUrl(file);
      setTimeout(async () => {
        try {
          let result = await uploadSingleImage(file, {
            onUploadProgress: this.onUploadProgress
          });
          this.$emit("input", result.id);
        } catch (e) {
          console.error("Upload file err", e);
          //show some error visually!
        } finally {
          this.dataUrl = null;
        }
      }, 100);
    },
    handleFileUpload() {
      this.uploadFile(this.$refs.file.files[0]);
    },
    evtPrevent(e) {
      e.preventDefault();
      e.stopPropagation();
    },
    onDragenter(e) {
      this.evtPrevent(e);
      this.dropHighlighted = true;
    },
    onDragover(e) {
      this.evtPrevent(e);
      this.dropHighlighted = true;
    },
    onDragleave(e) {
      this.evtPrevent(e);
      this.dropHighlighted = false;
    },
    onDrop(e) {
      this.evtPrevent(e);
      this.dropHighlighted = false;
      let dt = e.dataTransfer;
      this.uploadFile(dt.files[0]);
    }
  },
  beforeDestroy() {
    this.$refs.droparea.removeEventListener("dragenter", this.onDragenter);
    this.$refs.droparea.removeEventListener("dragover", this.onDragover);
    this.$refs.droparea.removeEventListener("dragleave", this.onDragleave);
    this.$refs.droparea.removeEventListener("drop", this.onDrop);
  },
  mounted() {
    this.$refs.droparea.addEventListener("dragenter", this.onDragenter, false);
    this.$refs.droparea.addEventListener("dragover", this.onDragover, false);
    this.$refs.droparea.addEventListener("dragleave", this.onDragleave, false);
    this.$refs.droparea.addEventListener("drop", this.onDrop, false);
  }
};
</script>
<style lang="scss" scoped>
.image-upload {
  border: 1px solid gray;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.highlighted {
  border: 1px solid red;
}

.image-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.image-preview-wrapper {
  position: relative;
  .image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid lightgray;
  }

  display: flex;
}
</style>
