<template>
  <div style="white-space: nowrap;">
    Zobrazeno {{ (page - 1) * rowsPerPage + 1 }}-{{
      (page - 1) * rowsPerPage + rowsPerPage > totalCount
        ? totalCount
        : (page - 1) * rowsPerPage + rowsPerPage
    }}
    z {{ totalCount }}
  </div>
</template>
<script>
export default {
  props: {
    page: {
      type: Number
    },
    totalCount: {
      type: Number
    },
    rowsPerPage: {
      type: Number
    }
  }
};
</script>
