<template>
  <div style="display: flex;">
    <v-menu
      ref="menu"
      v-model="menuVisible"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          :disabled="disabled"
          :value="hrRange"
          label="Zvolte interval"
          filled
          :hide-details="hideDetails"
          prepend-icon="mdi-clock-start"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-card>
        <v-card-text>
          <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
              <div class="title">Začátek</div>
              <v-time-picker
                v-model="timeFrom"
                format="24hr"
                :max="timeTo"
                scrollable
              />
            </div>
            <div style="display: flex; flex-direction: column;">
              <div class="title">Konec</div>
              <v-time-picker
                v-model="timeTo"
                format="24hr"
                :min="timeFrom"
                scrollable
              >
              </v-time-picker>
              <div style="display: flex;">
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="closeMenu">Cancel</v-btn>
                <v-btn text color="primary" @click="confirmDate">OK </v-btn>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </div>
</template>
<script>
import { format } from "date-fns";

export default {
  props: {
    range: {
      type: Object,
      default: () => {
        return {
          from: "08:00",
          to: "16:00"
        };
      }
    },
    hideDetails: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    hrRange() {
      const timeFrom = format(
        new Date(Date.parse(`2020-01-01 ${this.range.from}`)),
        "HH:mm"
      );
      const timeTo = format(
        new Date(Date.parse(`2020-01-01 ${this.range.to}`)),
        "HH:mm"
      );
      return `${timeFrom} - ${timeTo}`;
    }
  },
  data() {
    return {
      menuVisible: false,
      timeFrom: null,
      timeTo: null
    };
  },
  methods: {
    closeMenu() {
      this.menuVisible = false;
    },
    confirmDate() {
      this.menuVisible = false;
    }
  },
  mounted() {
    // if (!this.range) {
    //   return;
    // }
    // let parsedDate = this.date;
    // if (typeof this.date === "string") {
    //   parsedDate = new Date(Date.parse(this.date));
    // }
    this.timeFrom = this.range.from;
    this.timeTo = this.range.to;
  },
  watch: {
    timeFrom(newVal) {
      this.$emit("update:range", {
        from: newVal,
        to: format(new Date(Date.parse(`2020-01-01 ${this.range.to}`)), "HH:mm")
      });
    },
    timeTo(newVal) {
      this.$emit("update:range", {
        from: format(
          new Date(Date.parse(`2020-01-01 ${this.range.from}`)),
          "HH:mm"
        ),
        to: newVal
      });
    }
  }
};
</script>
