<template>
  <div class="wrapper" :title="title">
    <span
      :key="`lang_${idx}`"
      v-for="(langId, idx) in translations"
      :title="getLangName(langId)"
      >{{ getLangCode(langId) }}</span
    >
  </div>
</template>
<script>
import { getLanguageById } from "../../util/language";

export default {
  props: {
    translations: {
      type: Array
    }
  },
  computed: {
    title() {
      let langList = this.translations
        .map(lang => {
          return lang.name;
        })
        .join(", ");
      return `Přeloženo do jazyku: ${langList}`;
    }
  },
  methods: {
    getLangCode(id) {
      const lang = getLanguageById(id);
      return lang.two_letter_code;
    },
    getLangName(id) {
      const lang = getLanguageById(id);
      return lang.name;
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  position: relative;
  max-height: 1.1rem;
  overflow: hidden;
  word-break: break-all;

  span:after {
    content: ", ";
  }

  span:last-child:after {
    content: "";
  }
}
</style>
