<template>
  <div :title="hrPublishedInfo.title">{{ hrPublishedInfo.label }}</div>
</template>
<script>
import { getLanguageById } from "../../../util/language";

export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    hrPublishedInfo() {
      let publishedLanguages = [];
      for (let translation of this.item.ArticleTranslations) {
        if (translation.published) {
          publishedLanguages.push(translation.language_id);
        }
      }
      if (publishedLanguages.length === 0) {
        return {
          label: this.$t("Nepublikováno"),
          title: "Nebyl publikován žádný z jazyku"
        };
      }
      if (publishedLanguages.length === this.item.ArticleTranslations.length) {
        return {
          label: this.$t("Publikováno"),
          title: "Byli publikovány všechny jazyky"
        };
      }
      return {
        label: this.$t(
          `Částečně (pouze ${publishedLanguages
            .map(id => getLanguageById(id).two_letter_code)
            .join(", ")})`
        ),
        title: `Byly publikovány pouze tyto jazyky: ${publishedLanguages
          .map(id => getLanguageById(id).name)
          .join(", ")}`
      };
    }
  }
};
</script>
